<ion-header class="green">
	<ion-toolbar  mode="ios"  style="background: transparent; --background: transparent">
		<ion-buttons slot="start" class="back-button" (click)="back()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title class="header-title porttitle">Bids</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content id="content" class="lightgreen"  style="height: 100%;">
	<div style="height: 90%;overflow: scroll;">
		<div>
			<ul style="padding: 10px;">
				<li *ngFor="let bids of mybids" class="demandedData" style="border-bottom: 2px solid #ededed;">
					<div style="margin: 0;padding: 15px 0px;">
						<ion-row>
							<ion-col size="4" class="demandHeaders">Rice</ion-col> 
							<ion-col>
								<div style="float: left;width: 10px;margin: 0px;height: 25px">:</div>
								<div style="margin: 0px">
									{{ bids.qualityName }} {{ bids.qualityType | titlecase }}
								</div>
							</ion-col>
						</ion-row>
						
						<ion-row>
							<ion-col size="4" class="demandHeaders">Quantity MT</ion-col> 
							<ion-col>
								<div style="float: left;width: 10px;margin: 0px;height: 25px">:</div>
								<div style="margin: 0px">{{ bids.quantity}}</div>
							</ion-col>
						</ion-row>
						
						<ion-row>
							<ion-col size="4" class="demandHeaders">Packing</ion-col> 
							<ion-col>
								<div style="float: left;width: 10px;margin: 0px;height: 25px">:</div>
								<div style="margin: 0px">{{ bids.get_packing_type.bag_size }} {{ bids.get_packing_type.bag_type }}</div>
							</ion-col>
						</ion-row>

						<ion-row>
							<ion-col size="4" class="demandHeaders">Port</ion-col> 
							<ion-col>
								<div style="float: left;width: 10px;margin: 0px;height: 25px">:</div>
								<div style="margin: 0px">{{  bids.portName }}</div>
							</ion-col>

						</ion-row>
						<ion-row>
							<ion-col size="4" class="demandHeaders">Remarks</ion-col> 
							<ion-col>
								<div style="float: left;width: 10px;margin: 0px;height: 25px">:</div>
								<div style="margin: 0px">{{ bids.remarks | titlecase}}</div>
							</ion-col>
						</ion-row>

						<!-- <ion-row>
							<ion-col size="4" class="demandHeaders">Valid Date</ion-col> 
							<ion-col>: {{ bids.validDate | date :  'M/d/yyyy' }}</ion-col>
						</ion-row> -->

						<ion-row *ngIf="bids?.get_bids.length"  style="margin-top: 5px;">
							<ion-row *ngIf="bids?.user_bid_amount">
								<div>
									Your Offer <span class="demandHeaders">${{ bids?.get_bids[0].bid_amount }} </span> PMT Validity <span class="demandHeaders">{{ bids?.get_bids[0].validTill | date:'dd/MM/yyyy' }}</span>
								</div>
							</ion-row>
							
							<ion-row *ngIf="bids?.is_bid_accepted_by_me == 'pending'" style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;">
								SNTC send you a counter offer of ${{bids?.user_bid_amount}}
								<ion-col> 
									<ion-button class="green" style="color: #fff;border-radius: 12px;" (click)="accept( bids?.get_bids[0].id )" >Interested</ion-button>
								</ion-col>
								<ion-col>
									<ion-button class="red" style="color: #fff;border-radius: 12px;" (click)="reject( bids?.get_bids[0].id  )" >Not Interested</ion-button>
								</ion-col>
							</ion-row>
							
							<ion-row *ngIf="bids?.is_bid_closed == 'true' " style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;width: 100%;">
								Deal has been closed @ {{bids?.bid_closed_amount}}$, keep trying.
							</ion-row>

							<ion-row *ngIf="bids?.is_bid_accepted_by_me == 'true' " style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;width: 100%;">
								Congratulation your deal has been closed @ {{bids?.user_bid_amount}}$
							</ion-row>

							<ion-row *ngIf="bids?.is_bid_accepted_by_me == 'false' " style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;width: 100%;">
								You have declined a counter offer of ${{bids?.user_bid_amount}}
							</ion-row>
						</ion-row>

						<ion-row *ngIf="bids?.get_bids.length <= 0"  style="margin-top: 5px	">
							
							<div style="padding: 10;border-radius: 10;border: 2px solid #92b243;border-radius: 12px;width: 70%">
								<div style="float: left;padding: 0px 10px;margin-top: 23px;font-size: 18px;">
									$
								</div>
								<div style="float: left;border-bottom: 2px solid #92b243;margin: 0px;padding: 6px 0px;width: 60%">
									<ion-label position="floating">Place your offer</ion-label>
									<ion-input (ionChange)="yourbidfunction($event , bids.id)" type="number" style="--padding-top: 0px;--padding-bottom: 0px;"></ion-input>	
								</div>
								<div style="float: left;padding: 0px 10px;margin-top: 23px;font-size: 18px;">
									PMT
								</div>
							</div>

							
						</ion-row>
						<ion-row *ngIf="bids?.get_bids.length <= 0"  style="margin-top: 5px;margin-bottom: 10px;">
							<ion-item style="width: 70%">
								<ion-label position="floating">Validity (Days)</ion-label>
								<!-- <ion-input (ionChange)="validDays($event , bids.id)" type="number"></ion-input> -->
								<ion-datetime
									displayFormat="DD MMMM YYYY"
									presentation="date"
									[min]="mindate"
									[max]="lastDate"
									(ionChange)="changed($event)"
									aria-placeholder="here"
								></ion-datetime>
							</ion-item>
							<ion-button class="green" style="color: #fff;border-radius: 12px;" (click)="saveUserBid(bids.id)">Save</ion-button>
						</ion-row>
						
					</div>
				</li>
			</ul>
		</div>
	</div>
	<app-menu></app-menu>
</ion-content>