.register{
    text-align: center;
    h3{
        color: #000000;
        // text-align: right;
        // margin-right: 25px;
    }
    .registerlogo{
        width: 34%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.formData{
    padding: 0px 20px;
}

.form{
    ion-item{
        background: transparent;
        --background: transparent;
        .item-native{
            background: transparent;
            --background: transparent;
        }
    }
    button{
        --background: #92B243  !important;
        background: #92B243 !important;
        background-color: #92B243 !important;
        --background-color: #92B243 !important;
    }
}
.activeTab{
    --background: #92B243  !important;
    background: #92B243 !important;
    color: white;
}
.userType{
    ul{
        list-style: none;
        width: 100%;
        display: inline-flex;
        padding: 15px;
        margin: 0;

        li{
            padding: 5px 15px;
            border: 2px solid #92B243;
            border-radius: 7px;
            margin-right: 10px;
        }
    }
}
.userTitle{
    text-align: left !important;
    padding-left: 20px !important;
}
.nounderline{
    text-decoration: none;
}