<ion-content class="register lightgreen">
	<ion-row>
		<ion-col class="h-260 green brlb-30">
			<img src="../../assets/sntc_nobackground.png" class="registerlogo" alt="">			
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			<h3>
				Change Password
			</h3>
		</ion-col>
	</ion-row>

	<ion-row class="formData">
		<ion-col class="form">
			<ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input [(ngModel)]="password" [type]="passwordType" name="password"></ion-input>
				<ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' style="font-size: 1px;"></ion-icon>
				<img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>
			<ion-item>
				<ion-label position="floating">Confirm Password</ion-label>
				<ion-input [type]="password1Type" name='confpassword' [(ngModel)]="confpassword"></ion-input>
				<ion-icon slot="end" [name]="password1Icon" class="passwordIcon" (click)='hideShowPassword1()' style="font-size: 1px;"></ion-icon>
				<img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>

			<div class="center mt10">
				<ion-button class="green" (click)="changePassword()">Change Password</ion-button>
			</div>
			<p class="center w-100"><a href="javascript:void(0)" class="nounderline" (click)="login()">Go to login</a></p>
		</ion-col>
	</ion-row>
	<ion-row class="center">
		
	</ion-row>
</ion-content>