.tf-tree.example {
    text-align: center;
}

.back-button {
    margin-right: 10px;
    margin-left: 10px;
    // color: #FFF;

    ion-icon {
        font-size: 23px;
    }
}

ion-toolbar {
    --background: #494f58;
    // color: #FFF;
}

ion-item {
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 100px;
    margin-bottom: 10px;
}

.item-native {
    background: transparent;
    background-color: transparent;
    --background: transparent;
    --background-color: transparent;
}

.packingSelect {
    .select-text {
        display: none;
    }
}

ion-toolbar {
    --border-width: 0 0 0px !important;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px !important;
}

.alert-message.sc-ion-alert-md {
    padding: 0px !important;
}