.back-button{
    margin-right: 10px;
    margin-left: 10px;
    color: #FFF;
    ion-icon{
        font-size: 23px;
    }
}
ion-toolbar{
    --background: #494f58;
    color: #FFF;
}

.header-title{
    color: #FFF;
}