<ion-header>
    <ion-toolbar class="center">
        <ion-buttons slot="start" style="font-size: 30px" (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>Refund Policy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="">
    <div class="pr-10 pl-10">

        <p><strong>Definitions and key terms</strong></p>
        <p>To help explain things as clearly as possible in this Return &amp; Refund Policy, every time any of these
            terms are referenced, are strictly defined as:</p>
        <p>-Company: when this policy mentions “Company,” “we,” “us,” or “our,” it refers to SNTC Rice Sourcing, that is
            responsible for your information under this Return &amp; Refund Policy.<br>
            -Customer:&nbsp;refers to the company, organization or person that signs up to use the SNTC Rice Sourcing
            Service to manage the relationships with your consumers or service users.<br>
            -Device:&nbsp;any internet connected device such as a phone, tablet, computer or any other device that can
            be used to visit SNTC Rice Sourcing and use the services.<br>
            -Service: refers to the service provided by SNTC Rice Sourcing as described in the relative terms (if
            available) and on this platform.<br>
            -Website: SNTC Rice Sourcing.”’s” site, which can be accessed via this URL:<br>
            -You: a person or entity that is registered with SNTC Rice Sourcing to use the Services.</p>
        <p><strong>Return &amp; Refund Policy</strong></p>
        <p>Thanks for shopping at SNTC Rice Sourcing. We appreciate the fact that you like to buy the stuff we build. We
            also want to make sure you have a rewarding experience while you’re exploring, evaluating, and purchasing
            our products.</p>
        <p>As with any shopping experience, there are terms and conditions that apply to transactions at SNTC Rice
            Sourcing. We’ll be as brief as our attorneys will allow. The main thing to remember is that by placing an
            order or making a purchase at SNTC Rice Sourcing, you agree to the terms set forth below along with&nbsp;
            Policy.</p>
        <p>If there’s something wrong with the&nbsp; you bought, or if you are not happy with it, you will not be able
            to issue a refund for your item.</p>
        <p><strong>Refunds</strong></p>
        <p>We at&nbsp; ourselves to serving our customers with the best products. Every single product that you choose
            is thoroughly inspected, checked for defects and packaged with utmost care. We do this to ensure that you
            fall in love with our products.</p>
        <p>Sadly, there are times when we may not have the product(s) that you choose in stock, or may face some issues
            with our inventory and quality check. In such cases, we may have to cancel your order. You will be intimated
            about it in advance so that you don’t have to worry unnecessarily about your order. If you have purchased
            via Online payment (not Cash on Delivery), then you will be refunded once our team confirms your request.
        </p>
        <p>We carry out thorough quality check before processing the ordered item. We take utmost care while packing the
            product. At the same time we ensure that the packing is good such that the items won’t get damaged during
            transit. Please note that SNTC Rice Sourcing is not liable for damages that are caused to the items during
            transit or transportation.</p>
        <p>We follow certain policies to ensure transparency, efficiency and quality customer care:</p>
        <p>-We DO NOT allow returns on sold products – online or in retail outlets.<br>
            -We DO NOT accept returned goods, as we believe that customers should get the best quality products.<br>
            -Refunds are NOT given for any purchases made – be they online or in retail store.<br>
            -We DO NOT encourage exchanges of our products.<br>
            -We DO NOT engage in reselling used products and discourage the same, because we cannot ensure the best
            quality products for our customers.</p>
        <p><strong>For International Orders:</strong></p>
        <p>-We DO NOT support Exchanges or Returns.<br>
            -If you cancel the order before we process it and dispatch for shipping, a refund can be processed. Orders
            generally take 1-2 days to process before dispatch.<br>
            -Orders already in shipping cannot be returned, canceled or refunded.<br>
            -If you face any issues, please contact our Support Team immediately.</p>
        <p><strong>Your Consent</strong></p>
        <p>By using our app, registering an account, or making a purchase, you hereby consent to our Return &amp; Refund
            Policy and agree to its terms.</p>
        <p><strong>Changes To Our Return &amp; Refund Policy</strong></p>
        <p>Should we update, amend or make any changes to this document so that they accurately reflect our Service and
            policies. Unless otherwise required by law, those changes will be prominently posted here. Then, if you
            continue to use the Service, you will be bound by the updated Return &amp; Refund Policy. If you do not want
            to agree to this or any updated Return &amp; Refund Policy, you can delete your account.</p>
        <p><strong>Contact Us</strong></p>
        <p>If, for any reason, You are not completely satisfied with any good or service that we provide, don’t hesitate
            to contact us and we will discuss any of the issues you are going through with our product.</p>
        <p>-Via Email:&nbsp; enquiry@sntcgroup.com<br>
            -Via Phone Number:&nbsp; +919899330123</p>





    </div>
</ion-content>