<ion-content>
	<ion-row class="logo-row">
		<ion-col align="center">
			<img src="../../assets/SNTC LOGO (1).png" class="logo" />
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col align="center">
			<ion-item class="login-fields">
				<img src="../../assets/user-icon.png" slot="start" class="user-icon" />
				<ion-label position="floating">Email</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item class="login-fields">
				<img src="../../assets/pass-icon.png" slot="start" class="user-icon" />
				<ion-label position="floating">Password</ion-label>
				<ion-input></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row class="login-button">
		<ion-col align="center">
			<ion-button class="login-now">Login Now</ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col align="center" class="or-text">
			<h5>OR</h5>
		</ion-col>
	</ion-row>
	<ion-row class="social-row">
		<ion-col align="right">
			<img src="../../assets/fb-icon.png" />
		</ion-col>
		<ion-col>
			<img src="../../assets/gmail-icon.png" />
		</ion-col>
	</ion-row>
	<ion-row class="create-account">
		<ion-col align="center">
			<h4>Create account</h4>
		</ion-col>
	</ion-row>
</ion-content>