.body {
    background-color: #FFFBD6;
    background: #FFFBD6;
    --background-color: #FFFBD6;
    --background: #FFFBD6;
    width: 100%;
    height: 100%
}

.roundNextButton {
    height: 73px;
    width: 73px;
    background-color: #91B243;
    border-radius: 100%;
    text-align: center;
}