<ion-content>
	<ion-row>
		<ion-col align="center" class="logo-col">
			<img src="../../assets/SNTC LOGO (1).png" />
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col align="center" class="sntc-details">
			<h1>SNTC</h1>
			<small>Your rice sourcing partners!</small>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium eleifend mollis. Duis suscipit non elit id aliquam. Vivamus mattis vitae erat sit amet finibus. Suspendisse tristique facilisis viverra. Nunc convallis blandit magna, a consectetur erat pellentesque eget. Proin cursus tortor quis tempor pulvinar. Proin bibendum felis mauris, at luctus tellus sagittis a. Nam id dapibus magna, a semper nulla. Quisque eu vestibulum lectus, sit amet porta sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec justo a nisi consequat vehicula. Curabitur facilisis sed dolor varius imperdiet. Sed eget consequat diam, quis egestas nulla.</p>
		</ion-col>
	</ion-row>
	<app-menu></app-menu>
</ion-content>

