<ion-header class="" style="background-color: #ECECEC;">
	<!-- <ion-toolbar  mode="ios"  style="background: transparent; --background: transparent">
		<ion-buttons slot="start" class="back-button" (click)="closeModal()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-buttons>
			<ion-title class="header-title porttitle">Freight</ion-title>
	</ion-toolbar> -->
	<ion-row class="here">
		<ion-col style="padding: 0px;">
			<div class="" style="overflow: hidden;">
				<img src="../../assets/img/Screen Shot 2023-11-21 at 12.13.30 PM.png" class="app-logo" style="width: 100%;"/>
			</div>
		</ion-col>
	</ion-row>
	<!-- <ion-row >
		<ion-col style="padding: 0px;">
			<div class="imageprev" style="overflow: hidden;">
				<div *ngIf="selectedPortData[0] != undefined ">
					<img src="{{ imagePre }}/uploads/banner/{{ selectedPortData[0].banner }}" class="app-logo" />
				</div>
			</div>
		</ion-col>
	</ion-row> -->
</ion-header>

<ion-content class="">
	<div>
		<ion-row style="padding-top: 14px;height: auto;">
			<ion-col class="pt0 pb0 " style="padding: 0px;">
				<!-- <div class="scroll-arrow">
					<img src="./../../assets/RINGH.png" alt="" (click)="scroll('left','table-responsive-1')" class="righticon">
					&nbsp;&nbsp;
					<img src="./../../assets/LEFT.png" alt="" (click)="scroll('right','table-responsive-1')" class="lefticon">
				</div> -->
				<ion-segment scrollable (click)="getPortDetails($event)" value="{{ states }}"  class="header-segment table-responsive-1 basmatiState">
					<ng-container *ngFor="let data of listStates | keyvalue">
						<ion-segment-button id="{{ lowerCase(states.key) }}" value="{{ states.key }}" [class.active]="lowerCase(states.key) == selectedTransportState"  *ngFor="let states of data.value | keyvalue">
							<ion-label style="margin-top: -2px"> {{ states.key }}</ion-label>
						</ion-segment-button>
					</ng-container>
				</ion-segment>

			</ion-col>
		</ion-row>

		<ng-container >
			<ion-row class="ion-padding table-row padd-5 paddingBottom100" style="padding: 0px 10px;">
				<ion-col class="price-table dashboard">
					
					<table class="table" >
						<thead>
							<tr>
								<th class="sticky-col first-col left pl-10" style="width:60%" ><h4 class="black ricetype" style="font-family: 'Poppins-SemiBold';font-size: 16px;">Destination</h4></th>
								<th class="sticky-col first-col left pl-10" style="width:60%">
									<h4 class="black ricetype" style="font-family: 'Poppins-SemiBold';font-size: 16px;">Prices in Qtls</h4>
								</th>
							
							</tr>
							<div class="popoverley" (click)="removePopover()"></div>
						</thead>

						<tbody class="user_price" >
							<tr *ngFor="let list of selectedPortData" class="green">
								<td class="sticky-col first-col left pl-10"  style="font-size: 14px;color: #464646;font-family: 'Poppins-Regular';">
									{{ list.route.replace('_' , ' ') }}
								</td>
								<td class="type-columns" style="width:180px;border: none ;--border: none;color: #232000;font-size: 16px;font-family: 'Poppins-SemiBold' ;" >
									₹ {{ list.price }}
								</td>
							</tr>
							<tr *ngIf="isNull == true" >
								<td colspan="2" style="text-align: center;">
									No port found
								</td>
							</tr>
						</tbody>
					</table>
					
				</ion-col>
			</ion-row>
		</ng-container>
	</div>
	<button id="details" (click)="Details()"></button>
	<app-menu></app-menu>
</ion-content>