<ion-header class="green">
	<ion-toolbar  mode="ios"  style="background: transparent; --background: transparent">
		<ion-buttons slot="start" class="back-button" (click)="back()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title class="header-title porttitle">Hot Deals</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content id="content" class="lightgreen"  style="height: 100%;">
	<div style="height: 90%;overflow: scroll;">
		<div>
			<ul style="padding: 10px;">
				<li class="demandedData" *ngFor="let bids of notifs" style="border-bottom: 2px solid #ededed;">
					<ng-container >
						<div style="margin: 0;padding: 15px 0px;">
							<ion-row>
								<ion-col size="4" class="demandHeaders">Quality</ion-col> 
								<ion-col>: {{ bids?.get_rice_quality?.quality }} {{ bids?.get_rice_quality?.quality_name }}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="4" class="demandHeaders">Packing</ion-col> 
								<ion-col>: {{ bids?.get_u_s_d_default_master?.bag_size }} {{ bids?.get_u_s_d_default_master?.bag_type }}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="4" class="demandHeaders">FOB</ion-col> 
								<ion-col>: {{ bids?.fob }}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="4" class="demandHeaders">Qty</ion-col> 
								<ion-col>: {{ bids?.qty }}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="4" class="demandHeaders">Posted on</ion-col>
								<ion-col style="text-transform: capitalize;">: {{ bids?.created_at | date:'dd-MM-yyyy | H:i' }}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="4" class="demandHeaders">Valid Date</ion-col>
								<ion-col style="text-transform: capitalize;">: {{ bids?.validDate  | date:'dd-MM-yyyy | H:i' }}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="4" class="demandHeaders">Title</ion-col>
								<ion-col style="text-transform: capitalize;">: {{ bids?.title }}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="4" class="demandHeaders">Message</ion-col>
								<ion-col style="text-transform: capitalize;">: {{ bids?.message }}</ion-col>
							</ion-row>
							
	
							<!-- <ion-row *ngIf="bids?.get_bids.length"  style="margin-top: 5px;">
								<ion-row *ngIf="bids?.user_bid_amount">
									your bids is <span class="demandHeaders" style="padding: 0px 10px;"> 
										${{ bids?.user_bid_amount }} 
									</span> on 
									<span class="demandHeaders" style="padding: 0px 10px;">
										{{ bids?.user_bid_date | date:'dd/MM/yyyy' }}
									</span>
								</ion-row>
								
	
								<ion-row *ngIf="bids?.is_bid_accepted_by_me == 'pending'" style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;">
									SNTC send you a counter offer of ${{bids?.user_bid_amount}}
									<ion-col> 
										<ion-button class="green" style="color: #fff;border-radius: 12px;" (click)="accept( bids?.get_bids[0].id )" >Accept</ion-button>
									</ion-col>
									<ion-col>
										<ion-button class="red" style="color: #fff;border-radius: 12px;" (click)="reject( bids?.get_bids[0].id  )" >Reject</ion-button>
									</ion-col>
								</ion-row>
								
								
								<ion-row *ngIf="bids?.is_bid_closed == 'true' " style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;width: 100%;">
									Deal has been closed @{{bids?.user_bid_amount}}$, keep trying.
								</ion-row>
	
	
								<ion-row *ngIf="bids?.is_bid_accepted_by_me == 'true' " style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;width: 100%;">
									Congratulation your deal has been closed@ {{bids?.user_bid_amount}}$
								</ion-row>
	
								<ion-row *ngIf="bids?.is_bid_accepted_by_me == 'false' " style="border: 2px solid #93b243;padding: 10px;text-align: center;align-items: center;justify-content: center;margin-top: 10px;width: 100%;">
									You have declined a counter offer of ${{bids?.user_bid_amount}}
								</ion-row>
	
							</ion-row> -->
							
							<ion-row *ngIf="bids?.hot_deal_accept.length <= 0"  >
								<ion-col size="12" *ngIf="bids?.status == 0 && bids.isExpired == 'true' || bids.isExpired == 'true' && bids.status == 1" style="margin-top: 5px;margin-bottom: 0px;text-align: center;font-size: 19px;color: red;">
									{{ bids.isExpiredMessage }}
								</ion-col>
								<ion-col size="12" *ngIf="bids.isExpired == 'false' && bids.status == 1 " style="margin-top: 5px;margin-bottom: 0px;text-align: right;font-size: 19px;color: red;" >
									<ion-button class="green" style="color: #fff;border-radius: 12px;" (click)="acceptHotDeal(bids?.id)">Interested</ion-button>
								</ion-col>
								<!-- <ion-col size="12" *ngIf="bids.isExpired == 'true' && bids.status == 1 " style="margin-top: 5px;margin-bottom: 0px;text-align: right;font-size: 19px;color: red;" >
									{{ bids.isExpiredMessage }}
								</ion-col> -->
							</ion-row>
							<ion-row *ngIf="bids?.status == 0 && bids.isExpired != 'true'"  >
								<ion-col size="12" style="margin-top: 5px;margin-bottom: 0px;text-align: center;font-size: 19px;color: green;">Deal is sold
								</ion-col>
							</ion-row>
							<ion-row *ngIf="bids?.status == 2 && bids.isExpired != 'true'"  >
								<ion-col size="12" style="margin-top: 5px;margin-bottom: 0px;text-align: center;font-size: 19px;color: green;">
									Deal is taken
								</ion-col>
							</ion-row>
							<ion-row *ngIf="bids?.status == 0 && bids?.hot_deal_accept.length > 0"  >
								<ion-col size="12" style="margin-top: 5px;margin-bottom: 0px;text-align: center;font-size: 19px;color: green;">{{ bids?.isDealAcceptedMessage }}
								</ion-col>
							</ion-row>
	
						</div>
					</ng-container>
					
				</li>				
			</ul>
		</div>
	</div>
	<app-menu></app-menu>
</ion-content>