<ion-header [translucent]="true" class="ion-no-border green">
	<ion-toolbar>
	 
	  <ion-title>Chats</ion-title>
  
	</ion-toolbar>
  
  </ion-header>
  
  <ion-content [fullscreen]="true">
	
  
	<div class="chat-list">
	  <ion-list>
		<ion-item *ngFor="let chatItems of listChats" class="unread" (click)="showChatDetails(chatItems.user_rel.id)">

		  <ion-avatar class="avatar-md has-status" slot="start">
			<img src="https://ui-avatars.com/api/?name={{ chatItems.user_rel.name }}&color=7F9CF5&background=EBF4FF" alt="">
			<div class="avatar-status">
				<ng-container *ngIf="chatItems.seen == 0">
					<div class="online-status active"></div>
				</ng-container>
			</div>
		  </ion-avatar>
		  <ion-label>
			<h2 class="chat-name" style="font-size: 20px;font-weight: 600;text-transform: capitalize;">{{ chatItems.user_rel.name }}</h2>
			<p class="" style="font-size: 16px;font-weight: 600;text-transform: capitalize;">{{ chatItems.created_at | date :  "dd.MM.y"  }}</p>
			<div class="chat-description">
			  <!-- <div class="content-preview">{{chatItems.seen}}{{chatItems.user_rel}} {{ chatItems.message }} </div> -->
			  <div class="content-preview">{{ chatItems.message }} </div>
			</div>
		  </ion-label>
		</ion-item>
	
	  </ion-list>
	</div>
  </ion-content>
  