<ion-content class="register green">

	<ion-row>
		<ion-col class="h-160  brlb-30">
			<!-- <h3 class="userTitle">
				Register
			</h3> -->
			<img src="../../assets/sntc_nobackground.png" class="registerlogo" alt="" >
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="12">
			<h3 style="font-family: 'Poppins-SemiBold';font-weight: 500;color: #fff;font-size: 35px;margin: 0px;padding: 0px;">
				Welcome back
			</h3>
		</ion-col>
		<ion-col size="12">
			<p style="font-family: 'Poppins-Regular';font-weight: 500;color: #fff;font-size: 16px;margin: 0px;padding: 0px;">
				Login To Access Your Account
			</p>
		</ion-col>
	</ion-row>
	
	<ion-row class="formData ">
		<ion-col class="form">
			<ion-item no-lines lines="none" style="background: rgba(255,255,255, 0.3);border-radius: 8px;">
				<ion-label position="floating" style="color: #fff;">Email or Mobile number</ion-label>
				<ion-input [(ngModel)]="email" name="email" style="font-family: 'Poppins-SemiBold';color: #fff;"></ion-input>
				<!-- <img src="../../assets/svg/mail-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			<ion-item no-lines lines="none" style="background: rgba(255,255,255, 0.3);border-radius: 8px;margin-top: 20px;">
				<ion-label position="floating" style="color: #fff;">Password</ion-label>
				<ion-input [type]="passwordType" name='password' [(ngModel)]="password" style="width: 100%;font-family: 'Poppins-SemiBold';color: #fff;"></ion-input>
				<ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' style="font-size: 1px;"></ion-icon>
				<!-- <img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			<ion-item no-lines lines="none">
				<p class=" w-100" style="text-align: center;">
					<a href="javascript:void(0)" class="nounderline" (click)="forgotpassword()" style="color: #fff;font-family: 'Poppins-SemiBold';">Forgot Password?</a>
				</p>
			</ion-item>
			<div class="center mt10">
				<!-- <p class="center w-100">Not a member ? <a href="javascript:void(0)" class="nounderline" (click)="registernow()">Register now</a></p> -->
			</div>
			<div class="center mt10">				
				<button (click)="loginNow()" size="large" expand="full" style="background: #fff;border-radius: 27px;padding: 18px;width: 100%;"> <p style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: #677435;font-size: 16px;">Sign in</p> </button>
				<p style="color: #fff;">OR</p>
				<button (click)="registernow()" expand="full" style="background: #fff;border-radius: 27px;padding: 18px;width: 100%;"><p style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: #677435;font-size: 16px;">Register</p> </button>
			</div>
		</ion-col>
	</ion-row>
	<ion-row class="center">
		
	</ion-row>
</ion-content>