// ion-content{
//     --background: url('../../assets/login-bg.jpg') no-repeat center/cover fixed;
// }

// .header-logo{
//     margin-top: 50px;
//     img{
//         width: 250px;
//     }
// }

// .login-box{
//     margin-top: 20px;
//     ion-list{
//         --background: transparent;
//         background: transparent;
        
//         ion-item{
//             --background: transparent;
//             background: transparent;
//             margin-bottom: 25px;
//         }
//     }
// }

// .sign-in-icon{
//     width: 90px;
// }

// .button-ripple{
//     border-radius: 50px;
// }

// .forgot-pass{
//     font-size: 15px;
// }

// .forget-pass-row{
//     margin-top: 20px;
// }

// .login-footer{
//     height: 20px;
//     background: #efecec;
//     font-size: 12px;
//     text-align: center;
//     p{
//         margin: 0px;
//         padding: 0px;
//         padding-top: 3px;
//         color: #000
//     }
// }

// .login-button{
//     text-transform: none;
//     --border-radius: 100px;
//     width: 200px;
//     --background: green;
// }

.brlb-30{
    // border-radius: 0px 0px 0px 30%;
    // box-shadow: 0px 1px 15px 2px green;
}
.register{
    text-align: center;
    h3{
        color: #000000;
        // text-align: right;
        // margin-right: 25px;
    }
    .registerlogo{
        width: 80px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.formData{
    padding: 0px 20px;
}

.form{
    ion-item{
        background: transparent;
        --background: transparent;
        .item-native{
            background: transparent;
            --background: transparent;
            border: 0px;
        }
    }
    button{
        --background: #fff !important;
        background: #fff !important;
        background-color: #fff !important;
        --background-color: #fff !important;
        padding:25px
    }
}
.item-native{
    border:0px;
    padding: 0px;
}
.activeTab{
    --background: #92B243  !important;
    background: #92B243 !important;
    color: white;
}
.userType{
    ul{
        list-style: none;
        width: 100%;
        display: inline-flex;
        padding: 15px;
        margin: 0;

        li{
            padding: 5px 15px;
            border: 2px solid #92B243;
            border-radius: 7px;
            margin-right: 10px;
        }
    }
}
.userTitle{
    text-align: left !important;
    padding-left: 20px !important;
}
.nounderline{
    text-decoration: none;
}
ion-button{

}
ion-input{
    padding: 0px !important;
    --padding: 0px !important;
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
    --padding-start: 0px !important;
    --placeholder-color: #fff;
    --placeholder-opacity: 1;
    font-size: 14px;
    font-family: 'Poppins-Regular';
}
ion-item{
    min-height: 55px;
    --min-height: 55px;
}