<ion-header>
	<ion-toolbar class="green center white">
		<ion-buttons slot="start" style="font-size: 30px" (click)="goBack()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title>About Us</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="lightgreen">
	<ion-row>
		<ion-col>
			<p><strong>Who Are We?</strong></p>
			<p>We are your rice sourcing and branding partner that connects like-minded buyers and suppliers and helps meet their demands by acting as an intermediary between the two.</p>
			<p>We pride ourselves as the industry leaders in bulk rice sourcing, branding, packaging and PAN India Networking of both Basmati and Non Basmati rice in India.</p>
			<p>We provide you with true and reliable market insights about live rice pricing, rice quotes, and offer a 360 degree outlook on all your rice needs.</p>
			<p><strong>Our Services-</strong></p>
			<p>
				<ul>
					<li><strong>Live Rice Pricing</strong></li>
					<li><strong>Bulk Rice Sourcing (Basmati and Non-Basmati)</strong></li>
					<li><strong>PAN India freight charges</strong></li>
					<li><strong>Rice Branding & Packaging</strong></li>
					<li><strong>Market Insights</strong></li>
					<li><strong>Professional Guidance</strong></li>
					<li><strong>Personalization</strong></li>
				</ul>
			<p>Our mission is to create a reliable and trustworthy environment for both buyers and sellers by providing them exceptional services in the field of bulk rice sourcing and branding.</p>
			<p><strong>Our Legacy-</strong></p>
			<p>Our story originated from the year 1953 when our earliest family generation arrived in Amritsar, India with a vision to mark a strong business presence in the rice industry. With each coming generation, SNTC created a strong hold in rice sourcing and branding services. Today, our trusted heritage of more than 68 years has created a strong network foundation between both buyers and sellers from all over India.</p>
		</ion-col>
	</ion-row>
</ion-content>