<ion-content class="">
	

	<div style="height: 90%;overflow: scroll;">
		<div class="header-container">
			<div class=""></div>
			<div class="">
				<div style="margin-top: 0px;text-align: center;">
					<ion-row style="margin: 30px 0px;">
						<ion-col style="text-align: left;padding-left: 20px;" (click)="gotohome()">
							<ion-icon name="arrow-back-outline" style="font-size: 20px;"></ion-icon>
						</ion-col>
						<ion-col>
							<h1 class="" style="color: #000;font-size: 16px;margin: 0px;padding: 0px;">About Us</h1>
						</ion-col>
						<ion-col>
		
						</ion-col>
					</ion-row>
		
				</div>
			</div>
		</div>
		<ion-row>
			<ion-col>
				<p><strong>Who Are We?</strong></p>
				<p>We are your rice sourcing and branding partner that connects like-minded buyers and suppliers and helps meet
					their demands by acting as an intermediary between the two.</p>
				<p>We pride ourselves as the industry leaders in bulk rice sourcing, branding, packaging and PAN India
					Networking of both Basmati and Non Basmati rice in India.</p>
				<p>We provide you with true and reliable market insights about live rice pricing, rice quotes, and offer a 360
					degree outlook on all your rice needs.</p>
				<p><strong>Our Services-</strong></p>
				<p>
				<ul>
					<li>Live Rice Pricing</li>
					<li>Bulk Rice Sourcing (Basmati and Non-Basmati)</li>
					<li>PAN India freight charges</li>
					<li>Rice Branding & Packaging</li>
					<li>Market Insights</li>
					<li>Professional Guidance</li>
					<li>Personalization</li>
				</ul>
				<p>Our mission is to create a reliable and trustworthy environment for both buyers and sellers by providing them
					exceptional services in the field of bulk rice sourcing and branding.</p>
				<p><strong>Our Legacy-</strong></p>
				<p>SNTC is your rice sourcing and branding partner that connects like-minded buyers and suppliers and helps meet
					their rice demands by acting as an intermediary between the two. Our story originated from the year 1942
					when the earliest generation of the family arrived in Amritsar, India with a vision to mark a strong
					presence in the rice industry. The company transformed into Shree Nath Jee Trading Company (SNTC) in the
					year 1977. We pride ourselves as industry leaders in bulk rice sourcing, branding, international indenting,
					customised packaging and PAN India Network of both basmati and non-basmati buyers and suppliers. We provide
					you with true & reliable market insights about live rice pricing and best rice quotes.</p>
			</ion-col>
		</ion-row>
	</div>
	
	<app-menu></app-menu>

</ion-content>