<ion-content id="content" class="bg-lightgreen">
	<div class="green" >
		<div class="header-content">
			<ion-row class="">
				<ion-col size="12" align="center">
					<h3>Gallery Details</h3>
				</ion-col>
			</ion-row>
		</div>
	</div>
	
	<ion-row  id='card'>
		<ion-col>
			<ion-row style="padding: 0;margin: 0;">
				<ion-col style="list-style: none;background: lightgrey;text-align: center;padding: 20px 0px;border-radius: 20px;margin-right: 15px;">
					<p>
						<a href="https://api.whatsapp.com/send/?phone=[9653338547]&text=Hi,%20Test%20Message&app_absent=0&app_absent=0">
							<ion-icon name="call-outline" style="color: #c3bfbf;font-size: 40px;"></ion-icon>
						</a>
					</p>
					<!-- <p>{{phone}}</p> -->
				</ion-col>
				<ion-col style="list-style: none;background: lightblue;text-align: center;padding: 20px 0px;border-radius: 20px;margin-right: 15px;">
					<p><ion-icon name="mail-outline" style="color: #c3bfbf;font-size: 40px;"></ion-icon></p>
					<!-- <p>{{email}}</p> -->
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
	<app-menu></app-menu>
</ion-content>