<ion-row class="ion-no-padding footer-tabs">
	<ion-col class="ion-no-padding">
		<div class="example1" style="background: #92B243;padding-top: 2px;height: 21px;">
			<!-- <h3 style="color:#fff;white-space: nowrap;width: 100%;">{{news}} </h3> -->
			<h3 style="color: #fff;white-space: nowrap;" [ngStyle]='{ width : newsWidth }'>{{news}} </h3>
		</div>
		<ion-row class="tabs-row">
			<ng-container *ngIf="apptype == 'OTHER' ">

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo((apptype != 'USD')? 'prices' :'priceusd' )">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/liveprice.svg" *ngIf="apptype != 'USD'"
							style="width: auto; height: 100%;padding: 5px;" />
						<img src="../../assets/menu/livePriceUSD.svg" *ngIf="apptype == 'USD'"
							style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Live Prices</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo('buy-inr')">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/buy.svg" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Buy</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='goTo("trade-inr-list")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/trade.svg" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Trade</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='goTo("selling-inr")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/chat.svg" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Sell</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='goTo("brands")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/brand.svg" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Brand</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='openModel()'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/menu.svg" style="width: auto; height: 100%;padding: 7px;" />
					</div>
					<h5>Menu</h5>
				</ion-col>

			</ng-container>
			<ng-container *ngIf="apptype == 'USD' && seledctedRole == 5">
				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo((apptype != 'USD')? 'prices' :'priceusd' )">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<!-- <img src="../../assets/menu/live prices.png" *ngIf="apptype != 'USD'" />
					<img src="../../assets/menu/doller.png" /> -->
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/liveprice.svg" *ngIf="apptype != 'USD'"
							style="width: auto; height: 100%;padding: 5px;" />
						<img src="../../assets/menu/livePriceUSD.svg" *ngIf="apptype == 'USD'"
							style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Live Prices</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo('oceanfreights')">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/oceanfreight.svg" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Ocean Freight</h5>
				</ion-col>
				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='goTo("buy")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img style="width: auto; height: 100%;padding: 5px;" src="../../assets/menu/buy.svg" />
					</div>
					<h5>Buy </h5>
				</ion-col>


				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='goTo("trade-list-usd")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/trade.svg" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Trade</h5>
				</ion-col>

				<!-- <ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' " (click)='goTo("gallery")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/gallery.png" />
					<h5>Gallery</h5>
				</ion-col> -->

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo('otherservices')" menuToggle>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/otherservices.svg"
							style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Services</h5>
				</ion-col>
				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='openModel()'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/menu.svg" style="width: auto; height: 100%;padding: 7px;" />
					</div>
					<h5>Menu</h5>
				</ion-col>
			</ng-container>
			<ng-container
				*ngIf="apptype == 'USD' && seledctedRole == 4 || apptype == 'USD' && seledctedRole == 6 || apptype == 'USD' && seledctedRole == 7  ">
				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo((apptype != 'USD')? 'prices' :'priceusd' )">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<!-- <img src="../../assets/menu/live prices.png" *ngIf="apptype != 'USD'" />
					<img src="../../assets/menu/doller.png" *ngIf="apptype == 'USD'" /> -->
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/liveprice.svg" *ngIf="apptype != 'USD'"
							style="width: auto; height: 100%;padding: 5px;" />
						<img src="../../assets/menu/livePriceUSD.svg" *ngIf="apptype == 'USD'"
							style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Live Prices</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo('oceanfreights')">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/oceanfreight.svg" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Ocean Freight</h5>
				</ion-col>


				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='goTo("calculator")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/calculator.png" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Calculator</h5>
				</ion-col>



				<!-- <ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' " (click)='goTo("gallery")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/gallery.png" />
					<h5>Gallery</h5>
				</ion-col> -->

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='goToBids()'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/offers.png" style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Offer</h5>
				</ion-col>

				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)="goTo('otherservices')" menuToggle>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/otherservices.svg"
							style="width: auto; height: 100%;padding: 5px;" />
					</div>
					<h5>Services</h5>
				</ion-col>
				<ion-col style="padding: 0px;" class="tab-icon ion-activatable ripple-parent" align="center"
					(click)='openModel()'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<div style="width: 100%;height: 35px; ">
						<img src="../../assets/menu/menu.svg" style="width: auto; height: 100%;padding: 7px;" />
					</div>
					<h5>Menu</h5>
				</ion-col>
			</ng-container>

		</ion-row>
		<button style="display: none;" id="clickButton" (click)="updateNotification()">kjhnj</button>
		<button style="display: none;" id="clickButtonforPayment" (click)="clickButtonforPayment()">kjhnj</button>
	</ion-col>
</ion-row>