<ion-row class="ion-no-padding footer-tabs">
	<ion-col class="ion-no-padding">	
		<ion-row class="tabs-row">
			<ng-container *ngIf="apptype == 'OTHER' ">
				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" (click)="goTo((apptype != 'USD')? 'prices' :'priceusd' )">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/live prices.png" />
					<h5>Live Prices</h5>
				</ion-col> 
				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' && apptype != 'USD'" (click)="goTo('port')">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/transport.png" class="truck" style="width: 60px !important"/>
					<h5>Transport</h5>
				</ion-col>
				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' " (click)='goTo("gallery")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/gallery.png" />
					<h5>Gallery</h5>
				</ion-col>
				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false'" (click)='goTo("chat-detail")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/chaat.png" />
					<h5>Chat</h5>
				</ion-col>
				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false'" (click)='openModel()'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/menu.png" />
					<h5>Menu</h5>
				</ion-col>
				
			</ng-container>

			<ng-container *ngIf="apptype != 'OTHER' ">
				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" (click)="goTo((apptype != 'USD')? 'prices' :'priceusd' )">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/live prices.png" />
					<h5>Live Prices</h5>
				</ion-col>

				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' && apptype == 'USD'" (click)="goTo('oceanfreights')">
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/images-removebg-preview.png" class="truck" style="width: 39px !important"/>
					<h5>Ocean Freight</h5>
				</ion-col>
<!-- 
				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" (click)='goTo("buy")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/486-4865980_shopping-cart-png-vector-shopping-cart-png-transparent-removebg-preview.png" style="width: 34px !important" />
					<h5>Buy	</h5>
				</ion-col> -->

				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' && seledctedRole != 5 " (click)='goTo("calculator")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/calculator.png" style="width: 21px !important" />
					<h5>Calculator</h5>
				</ion-col>

				<!-- <ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' " (click)='goTo("gallery")'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/gallery.png" />
					<h5>Gallery</h5>
				</ion-col> -->

				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" *ngIf=" isCurrentUser == 'false' " (click)='goToBids()'>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/gallery.png" />
					<h5>Bids</h5>
				</ion-col>

				<ion-col class="tab-icon ion-activatable ripple-parent" align="center" (click)="goTo('otherservices')" menuToggle>
					<ion-ripple-effect type="unbounded"></ion-ripple-effect>
					<img src="../../assets/menu/images__1_-removebg-preview.png" style="width: 27px;" />
					<h5>Other services</h5>
				</ion-col>
			</ng-container>
		</ion-row>

		<button id="clickButton" (click)="updateNotification()">kjhnj</button>
		<button id="clickButtonforPayment" (click)="clickButtonforPayment()">kjhnj</button>

	</ion-col>
</ion-row>