<ion-content class="register lightgreen">
	<ion-row>
		<ion-col class="h-230 green brlb-30">
			<img src="../../assets/sntc_nobackground.png" class="registerlogo" alt="" style="margin-top: 20">
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			<h3>
				Change Password
			</h3>
		</ion-col>
	</ion-row>

	<ion-row class="formData">
		<ion-col class="form">
			<ion-item>
				<ion-label position="floating">New Password</ion-label>
				<ion-input [type]="password1Type" name='password' [(ngModel)]="password" style=" color: 'red' " ></ion-input>
				<ion-icon slot="end" [name]="password1Icon" class="passwordIcon" (click)='hideShowPassword1()'></ion-icon>
				<img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>
			
			<ion-item>
				<ion-label position="floating" class="font-lightgreen">Confirm Password</ion-label>
				<ion-input [type]="password2Type" name='confpassword' [(ngModel)]="confpassword"></ion-input>
				<ion-icon slot="end" [name]="password2Icon" class="passwordIcon" (click)='hideShowPassword2()'></ion-icon>
				<img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>

			<div class="center" style="margin-top: 20px;">
				<ion-button class="green" (click)="updatePassword()"> Change Password </ion-button>
			</div>
		</ion-col>
	</ion-row>
	
	<ion-row class="center">	
	</ion-row>
</ion-content>