<ion-content id="content" class="">
	<div class="header-data" style="height: auto;">

		<div class="header-content">
			<ion-row class="">
				<ion-col size="3" align="center">
					<div class="user-profile-icon">
						<span> {{ userFirstName }} </span>
					</div>
				</ion-col>
				<ion-col size="6" align="center">
					<h3>Gallery</h3>
				</ion-col>
				<!-- <ion-col size="3" align="right" class="notification">
					<ion-icon name="notifications"></ion-icon>
					<span class="badge">2</span>
				</ion-col> -->
			</ion-row>
		</div>

		<ion-row class="m020 mt30">
			<ion-col size="12" style="height: 70px;">
				<ng-container>
					<ion-item class="" style="--background: #EEFCCE;border-radius: 100px;">
						<ion-label>Rice Type</ion-label>
						<ion-select  (ionChange)="getRiceType($event)" value="basmati">
							<ion-select-option value="basmati" selected="selected">Basmati</ion-select-option>
							<ion-select-option value="nonbasmati">Non Basmati</ion-select-option>
						</ion-select>
					</ion-item>
				</ng-container>		
			</ion-col>
		</ion-row>

	</div>
	
	<ng-container>
		<div class="galleryImages">
			
			<ion-row style="justify-content: space-around;padding-bottom: 100px;">

				<ng-container *ngIf="riceTypeAvailable == 'basmati' ">
					<ng-container *ngIf="basmartiGallery == '' ">
						<ion-col class="12">
							<div class="center w-100 color-black">
								<h3>Basmati gallery not available</h3>
							</div>
						</ion-col>
					</ng-container>
					
					<ng-container *ngIf="basmartiGallery != '' ">
						<ion-col size="6" class="galleycard" *ngFor="let list of basmartiGallery" (click)="getGalleryData(list.id)">
							<div class="" >
								<img src="{{ imagePre }}uploads/gallery/{{ list.attachment }}" style="width: 190px;height: 130px;border-radius: 15px;overflow: hidden;" alt="{{ list.title }}">
								<div>
									<p style="padding: 0;margin: 0;font-family: 'Poppins-Regular';margin-top: 5px;" class="">{{list.title | uppercase }}</p>
								</div>
							</div>
							
							<!-- <div class="galleryoverlay">
								<div class="riceType">
									<h3 class="p0 m0 ">{{ list.type | uppercase }}</h3>
								</div>
							</div> -->
						</ion-col>
					</ng-container>
				</ng-container>

				<ng-container *ngIf="riceTypeAvailable == 'nonbasmati'">
					<ng-container *ngIf="nonbasmartiGallery == '' ">
						<div class="center w-100 color-black">
							<h3>Non Basmati gallery not available</h3>
						</div>
					</ng-container>
	
					<ng-container *ngIf="nonbasmartiGallery != '' ">
						<ion-col size="6" class="galleycard" *ngFor="let list of nonbasmartiGallery" (click)="getGalleryData(list.id)">
							<div class="galleryImage" >
								<img src="{{ imagePre }}uploads/gallery/{{ list.attachment }}" style="width: 190px;height: 130px;border-radius: 15px;overflow: hidden;" alt="{{ list.title }}">
								<div>
									<p style="padding: 0;margin: 0;font-family: 'Poppins-Regular';margin-top: 5px;" class="">{{list.title | uppercase }}</p>
								</div>
							</div>
							
							<!-- <div class="galleryoverlay">
								<div class="riceType">
									<h3 class="p0 m0 ">{{ list.type | uppercase }}</h3>
								</div>
							</div> -->
						</ion-col>
					</ng-container>
				</ng-container>
			</ion-row>
		</div>
	</ng-container>
	<ng-container>
		<app-menu></app-menu>
	</ng-container>

</ion-content>