<ion-content id="content" [scrollEvents]="true" (ionScroll)="logScrolling($event)" class="">
    <div class="header-data green"
        style="min-height: 150px;max-height: 150px;border-radius: 0px 0px 35px 35px;margin-bottom: 50px;">
        <div style="min-height: 80px;display: flex;align-items: center;width: 100%;">
            <ion-row style="justify-content: space-between;width: 100%;padding: 0px 20px;">
                <ion-col size="4" align="center" class="noPaddingMargin">
                    <div class="noPaddingMargin" (click)="gotoProfile()">
                        <p class="noPaddingMargin avatar">{{ userFirstName | uppercase }}</p>
                    </div>
                </ion-col>
                <ion-col size="4" align="center" style="align-self: center;">
                    <!-- <h3>Dashboard</h3> -->
                    <!-- <div *ngIf="restDays > 0">
                        <p *ngIf="restDays <= 10">
                            {{restDays}} Days Left
                        </p>
                    </div> -->
                    <!-- <p>
                        <button (click)="showPaymentModel()" *ngIf="restDays < 0" style="color: #92b243; text-decoration: none; background: #fffbd6; padding: 5px; border-radius: 8px;">Subscribe Now</button>
                    </p> -->
                    <img src="../../assets/sntc_rice_logo.png" alt="" style="width: 90px;">
                </ion-col>
                <ion-col size="4" align="right" class="notification" style="align-self: center;">
                    <ion-icon class="noPaddingMargin" name="refresh-outline" (click)="refresh()"
                        style="font-size: 25px;color: #fff;margin-right: 20px !important;"></ion-icon>
                    <div *ngIf="isNotifAvailable == 'true' "
                        style="height: 10px;width: 10px;background-color: red;position: absolute;right: 5px;top: 5px;z-index: 99999;border-radius: 100px;">
                    </div>
                    <ion-icon class="noPaddingMargin" name="notifications" (click)="getNotications()"
                        style="font-size: 25px;color: #fff"></ion-icon>
                </ion-col>

            </ion-row>
        </div>
        <!-- <ion-row class="ion-padding title-padding ">
            <ion-col class="title" size="12">
                

            </ion-col>
        </ion-row> -->
        <ion-row class="ion-padding rice-gallery">
            <ion-col>
                <ion-slides pager="false" [options]="slideOpts">
                    <ion-slide *ngFor="let slider of ImageGallerySlider" (click)="getGalleryData(slider.id)">
                        <div class="background-image">
                            <img src="{{ imagePrefix }}uploads/gallery/{{ slider.attachment }}" alt=""
                                style="width: 65%;height: 65%;">
                        </div>
                    </ion-slide>
                </ion-slides>
                <ion-row>
                    <!-- <ion-col size="8" style="text-align: center;margin-top: 5px;text-align: right;">
                        <img src="../../assets/sntc_rice_logo.png" alt="" style="width: 100px;">
                    </ion-col> -->
                    <ion-col>

                        <!-- <ion-button (click)="tradeBack()" size="small"
                            style="text-transform: inherit;background-color: #fffbd6;--background: #fffbd6;border-radius: 5px;">
                            <p style="font-size: 11px;">trade</p>
                        </ion-button> -->
                        <!-- <ion-button (click)="BuyINR()" size="small" style="text-transform: inherit;background-color: #fffbd6;--background: #fffbd6;border-radius: 5px;">
                            <p style="font-size: 11px;">Buy INR</p>
                        </ion-button> -->
                        <!-- <ion-button (click)="tradeINR()" size="small"
                            style="text-transform: inherit;background-color: #fffbd6;--background: #fffbd6;border-radius: 5px;">
                            <p style="font-size: 11px;">Trade INR</p>
                        </ion-button> -->
                        <!-- <ion-button (click)="sellerINR()" size="small"
                            style="text-transform: inherit;background-color: #fffbd6;--background: #fffbd6;border-radius: 5px;">
                            <p style="font-size: 11px;">INR seller</p>
                        </ion-button> -->

                    </ion-col>
                    <!-- <p style="padding: 0;margin: 0;text-align: center;width: 100%;color: #fffbd6;">Pull to refresh</p> -->
                </ion-row>
            </ion-col>
        </ion-row>
    </div>

    <div class="convertButtonParent">
        <button (click)="changeAppType()"
            style="background: #92b243;border-radius: 27px;padding: 13px 30px;margin-top: 10px;">
            <p style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: #fff;font-size: 14px;">Convert to
                USD</p>
        </button>
    </div>

    <div class="otherbackground">
        <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content>
            </ion-refresher-content>
          </ion-refresher> -->


        <div *ngIf="basmatiprice?.basmati != null" style="text-align: center;padding: 6px 0px;">
            <span style="font-size: 12px;">Last updated at: {{ lastupdatedDate }} (IST)</span>
        </div>
        <ion-row class="ion-padding title-padding m">
            <ion-col class="title" size="12">
                <h2 class="ricetitle">Basmati Live Price</h2>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top: 10px">
            <!-- <div class="scroll-arrow">
                <img src="./../../assets/RINGH.png" alt="" (click)="scroll('left','table-responsive-1')"
                    class="righticon">
                &nbsp;&nbsp;
                <img src="./../../assets/LEFT.png" alt="" (click)="scroll('right','table-responsive-1')"
                    class="lefticon">
            </div> -->
            <ion-col class="pt0 pb0 ">
                <ion-segment scrollable (ionChange)="changeStateBasmati($event)" value="{{ basmatiSt }}"
                    class="header-segment table-responsive-1 basmatiState" style="padding: 0px;margin: 0px;height: 55px">
                    <ng-container *ngFor="let basmatiSt of basmatiState">
                        <ion-segment-button class="{{ basmatiSt }}" id="{{ basmatiSt }}" value="{{ basmatiSt }}">
                            <ion-label>{{ parseText(basmatiSt) }}</ion-label>
                        </ion-segment-button>
                    </ng-container>
                </ion-segment>
            </ion-col>
        </ion-row>

        <div style="margin-bottom: 50px;">
            <ng-container *ngIf="basmatiprice?.basmati == null">
                <div class="center">
                    <!-- <p>No item found</p> -->
                </div>
            </ng-container>

            <ng-container *ngIf="basmatiprice?.basmati != null">
                <ion-row class="ion-padding table-row padd-5">
                    <ion-col class="price-table dashboard ">
                        <table class="table" *ngFor="let basmatiPrice of basmatiprice?.basmati | keyvalue">
                            <thead>
                                <tr class="lightgreen">
                                    <th class="sticky-col bg-lightgreen first-col left pl-10" style="width: 50%">
                                        <ng-container *ngFor="let riceData of basmatiPrice.value | keyvalue">
                                            <h4 class="black ricetype">{{ riceData.key }} </h4>
                                        </ng-container>
                                    </th>
                                    <th class="sticky-col bg-lightgreen first-col left pl-10" style="width: 25%">
                                        <ng-container *ngFor="let riceData of basmatiPrice.value | keyvalue">
                                            <h4 class="black riceCrop">Crop Year</h4>
                                        </ng-container>
                                    </th>
                                    <th class="sticky-col bg-lightgreen first-col left pl-10"
                                        style="width: 25%;z-index: 1">
                                        <ng-container *ngFor="let riceData of basmatiPrice.value | keyvalue">
                                            <h4 class="black ricePrice">Prices in Qtls</h4>
                                        </ng-container>
                                    </th>
                                </tr>
                                <div class="popoverley" (click)="removePopover()"></div>
                            </thead>
                            <button id="getCurrentStatus"
                                style="height: 1px;width: 1px;color: red;background: transparent;padding: 0;margin: 0;"
                                (click)="getCurrentPaidStatus()"></button>
                            <tbody [class.hide]="riceUserType == convertToLowerCase(basmatiPrice.key)+'_percentage'"
                                [id]="convertToLowerCase(basmatiPrice.key)+'_price'">
                                <ng-container *ngFor="let riceData of basmatiColumns[basmatiPrice.key] | keyvalue">
                                    <ng-container *ngFor="let riceValue of riceData.value | keyvalue">
                                        <ng-container *ngFor="let riceVal of riceValue.value | keyvalue">
                                            <tr
                                                (click)="getRiceDetails(riceVal.key , riceVal.value[latestDateBasmati].state , riceData.key)">
                                                <td class="sticky-col bg-transparent first-col left pl-10 riceanmes"
                                                    style="text-transform: uppercase;padding: 0px;font-size: 12px !important;font-family: 'Poppins-Regular';">
                                                    {{ extractRiceName(riceVal?.key) | uppercase }}
                                                </td>
                                                <td class="sticky-col bg-transparent first-col left pl-10 riceanmes"
                                                    style="text-transform: uppercase;padding: 0px;font-size: 12px !important;text-align: center !important;color: black;font-family: 'Poppins-Regular';"
                                                    [ngStyle]="(currentYear == riceVal.value[latestDateBasmati]?.cropYear)?{'font-family': 'Poppins-Regular'} : {'font-family': 'Poppins-Bold'}">
                                                    {{
                                                    riceVal.value[latestDateBasmati]?.cropYear }}

                                                </td>
                                                <td class="type-columns"
                                                    style="width:180px;padding: 0px;font-size: 12px !important;color: #82A42F;font-family: 'Poppins-Regular';"
                                                    [class.font-grey]="riceVal.value[latestDateBasmati].up_down == 'stable'"
                                                    [class.font-green]="riceVal.value[latestDateBasmati].up_down == 'up' "
                                                    [class.red]="riceVal.value[latestDateBasmati].up_down == 'down' ">
                                                    <div class="priceVal">&#8377; {{
                                                        riceVal.value[latestDateBasmati].min_price }} - {{
                                                        riceVal.value[latestDateBasmati].max_price }} </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>

                            </tbody>
                        </table>

                    </ion-col>
                </ion-row>
            </ng-container>

            <ion-row class="ion-padding title-padding mt-20">
                <ion-col class="title" size="12">
                    <h2 class="ricetitle">Non - Basmati Live Price</h2>
                </ion-col>
            </ion-row>

            <ion-row>
                <!-- <div class="scroll-arrow">
                            <img src="./../../assets/RINGH.png" alt="" (click)="scroll('left','table-responsive-2')"
                                class="righticon">
                            &nbsp;&nbsp;
                            <img src="./../../assets/LEFT.png" alt="" (click)="scroll('right','table-responsive-2')"
                                class="lefticon">
                        </div> -->
                <ion-col class="pt0 pb0 p05">
                    <ion-segment scrollable (ionChange)="changeStateNONBasmati($event)" value="{{ nonbasmatists }}"
                        class="header-segment table-responsive-2 basmatiState"  style="padding: 0px;margin: 0px;height: 55px">

                        <ng-container *ngFor="let nonbasmatists of NONbasmatiState">
                            <ion-segment-button value="{{ nonbasmatists }}" class="{{ nonbasmatists }}">
                                <ion-label>{{ parseText(nonbasmatists) }}</ion-label>
                            </ion-segment-button>
                        </ng-container>

                    </ion-segment>
                </ion-col>
            </ion-row>

            <ng-container *ngIf="nonbasmatiprice?.non_basmati != null">
                <ion-row class="ion-padding table-row padd-5">

                    <ion-col class="price-table dashboard">
                        <table class="table"
                            *ngFor="let nonBas of nonbasmatiprice?.non_basmati | keyvalue : returnZero">
                            <thead>
                                <tr>
                                    <th class="sticky-col bg-lightgreen first-col left pl-10" style="width:50%">
                                        <ng-container *ngFor="let riceData of nonBas.value | keyvalue">
                                            <h4 class="black ricetype">{{ riceData.key }} </h4>
                                        </ng-container>
                                    </th>
                                    <th class="sticky-col bg-lightgreen first-col left pl-10" style="width:25%">
                                        <ng-container *ngFor="let riceData of nonBas.value | keyvalue">
                                            <h4 class="black riceCrop">Crop Year</h4>
                                        </ng-container>
                                    </th>
                                    <th class="sticky-col bg-lightgreen first-col left pl-10"
                                        style="width:25%;z-index: 1;">
                                        <ng-container *ngFor="let riceData of nonBas.value | keyvalue">
                                            <h4 class="black ricePrice">Prices in Qtls</h4>
                                        </ng-container>
                                    </th>
                                </tr>
                                <div class="popoverley" (click)="removePopover()"></div>
                            </thead>

                            <tbody
                                [class.hide]="riceUserType == convertToLowerCaseWithReplaceOfHighfn(nonBas.key)+'_percentage'"
                                [id]="convertToLowerCaseWithReplaceOfHighfn(nonBas.key)+'_price'">
                                <ng-container *ngFor="let riceData of nonBasmatiColumns[nonBas.key] | keyvalue">
                                    <ng-container *ngFor="let riceValue of riceData.value | keyvalue">
                                        <ng-container *ngFor="let riceVal of riceValue.value | keyvalue">
                                            <tr
                                                (click)="getRiceDetails(riceVal.key , riceVal.value[latestDateBasmati].state , riceData.key)">
                                                <td class="sticky-col bg-transparent first-col left pl-10"
                                                    style="text-transform: uppercase;padding: 0px;font-size: 12px !important;">
                                                    {{ extractRiceName(riceVal.key) | uppercase }}
                                                </td>
                                                <td class="sticky-col bg-transparent first-col left pl-10 riceanmes"
                                                    style="text-transform: uppercase;padding: 0px;font-size: 12px !important;text-align: center !important;color: black;font-family: 'Poppins-Regular';"
                                                    [ngStyle]="(currentYear == riceVal.value[latestDateBasmati]?.cropYear)?{'font-family': 'Poppins-Regular'} : {'font-family': 'Poppins-Bold'}">
                                                    {{riceVal.value[latestDateBasmati]?.cropYear }}
                                                </td>
                                                <td class="type-columns"
                                                    style="width:180px;font-size: 12px !important;text-align: center !important;color: #82A42F;font-family: 'Poppins-Regular'"
                                                    [class.font-grey]="riceVal.value[latestDateBasmati].up_down == 'stable'"
                                                    [class.font-green]="riceVal.value[latestDateBasmati].up_down == 'up' "
                                                    [class.font-red]="riceVal.value[latestDateBasmati].up_down == 'down' ">
                                                    <div class="priceVal"
                                                        [class.font-grey]="riceVal.value[latestDateBasmati].up_down == 'stable'"
                                                        [class.font-green]="riceVal.value[latestDateBasmati].up_down == 'up' "
                                                        [class.font-red]="riceVal.value[latestDateBasmati].up_down == 'down' ">
                                                        &#8377;
                                                        {{riceVal.value[latestDateBasmati].min_price }} -
                                                        {{riceVal.value[latestDateBasmati].max_price }} </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tbody>


                        </table>
                    </ion-col>
                </ion-row>
            </ng-container>

            <ng-container *ngIf="nonbasmatiprice?.non_basmati == null">
                <div class="center">
                    <!-- <p>No item found</p> -->
                </div>
            </ng-container>
        </div>

        <!-- <ion-row class="ion-padding title-padding center">
            <ion-col class="title">
                <a href="javascript:void(0);" class="viewtrans" (click)="navToPort()">View Transportation</a>
            </ion-col>
        </ion-row> -->
        <div>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed"
                style="position: fixed;bottom: 13%;z-index: 99999999;" (click)="scrollDown()"
                *ngIf="scrollPosition == 'top' ">
                <ion-fab-button style="--background: black;height: 50px;width: 50px;">
                    <ion-icon name="chevron-down-outline" style="color: #fff;"></ion-icon>
                </ion-fab-button>
            </ion-fab>

            <ion-fab vertical="bottom" horizontal="end" slot="fixed"
                style="position: fixed;bottom: 13%;z-index: 99999999" (click)="scrollUp()"
                *ngIf="scrollPosition == 'bottom' ">
                <ion-fab-button style="--background: black;height: 50px;width: 50px;">
                    <ion-icon name="chevron-up-outline" style="color: #fff;"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>
    <app-menu></app-menu>
</ion-content>