<ion-content class="register bg-lightgreen">
	<ion-row>
		<ion-col class="h-260 green brlb-30">
			<!-- <h3 class="userTitle">
				Register
			</h3> -->
			<img src="../../assets/sntc_nobackground_notitle.png" class="registerlogo" alt="">
			
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<h3>
				Forgot Password
			</h3>
		</ion-col>
	</ion-row>
	<ion-row class="formData mt-50">
		<ion-col class="form">
			<span style="font-family: Lato;font-size: 22px;">OTP has been sent to your registered mobile number/ e-mail for authentication.</span>
			<ul class="bullets">
				<li style="font-family: Lato;font-size: 22px;">
					SMS for Indian Users
				</li>
				<li style="font-family: Lato;font-size: 22px;">
					Email for International Users
				</li>
			</ul>
			<ion-item style="border: 2px solid #92b243;border-radius: 10px;">
			<ion-label position="floating">Mobile Number</ion-label>
			<ion-input [(ngModel)]="number" type="number" name="number"></ion-input>
				<img style="width: 10%;margin-top: 4%;padding: 0;margin-right: 12px;;" src="../../assets/svg/call-outline.svg" slot="start" alt="">
			</ion-item>
			
			<div class="center mt10">
				<ion-button class="green" (click)="sendOTP()">Send OTP</ion-button>
			</div>
			<p class="center w-100"><a href="javascript:void(0)" class="nounderline" (click)="login()">Go Back</a></p>
		</ion-col>
	</ion-row>
	<ion-row class="center">
		
	</ion-row>
</ion-content>