<ion-header class="green">
	<ion-toolbar  mode="ios"  style="background: transparent; --background: transparent">
		<ion-buttons slot="start" class="back-button" (click)="back()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title class="header-title porttitle">Other Services</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content id="content" class="lightgreen"  style="height: 100%;">
	<div style="height: 90%;overflow: scroll;">
		<div>
			
			<ion-row>
				<ion-col>
					<ion-item style="width: 100%;">
						<ion-label>Select vendor type*</ion-label>
						<ion-select placeholder="Select One" (ionChange)="changeBuyer($event)" [(ngModel)]="selectedBuyer" selectedText="{{selectedBuyer}}">
							<ion-select-option *ngFor="let buyerType of buyerTypes" >{{ buyerType }}</ion-select-option>
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
	
			<ul style="padding: 0px 20px">
				<ng-container *ngFor="let buyers of selectedBuyers; index as i">
					<li  class="demandedData" *ngIf="buyers.contact_person != '' || buyers.contact_person != null" style="list-style: none;padding: 15px 0px;border-bottom: 2px solid #91b243;">
						<div style="margin: 0;">
							<ion-row>
								<ion-col size="3" class="demandHeaders" style="float: left;min-width: 40%">Serial No.</ion-col>
								<ion-col size="7" style="line-height: 1.5;text-transform: capitalize;min-width:60%">
									<div style="float: left;margin: 0.5px ;margin-right: 5px">:</div> 
									<div style="margin: 0;margin-right: 5px;font-weight: bold;">
										{{ (i+1) }}
									</div>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="3" class="demandHeaders" style="float: left;min-width: 40%">Product</ion-col>
								<ion-col size="7" style="line-height: 1.5;text-transform: capitalize;min-width:60%">
									<div style="float: left;margin: 0.5px ;margin-right: 5px">:</div> 
									<div style="margin: 0;margin-right: 5px">
										{{ buyers.specialised }}
									</div>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="3" class="demandHeaders" style="float: left;min-width: 40%">Party Name</ion-col>
								<ion-col size="7" style="line-height: 1.5;text-transform: capitalize;min-width:60%">
									<div style="float: left;margin: 0.5px ;margin-right: 5px">:</div> 
									<div style="margin: 0;margin-right: 5px">
										{{ buyers.vendor_name }}
									</div>
								</ion-col>
							</ion-row>
						 	<ion-row>
								<ion-col size="3" class="demandHeaders" style="float: left;min-width: 40%">Address</ion-col>
								<ion-col size="7" style="line-height: 1.5;min-width:60%">
									<div style="float: left;margin: 0.5px ;margin-right: 5px">:</div> 
									<div style="margin: 0;margin-right: 5px">
										{{ buyers.vendor_address }}
									</div>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="3" class="demandHeaders" style="float: left;min-width: 40%">Email</ion-col>
								<ion-col size="7" style="line-height: 1.5;min-width:60%">
									<div style="float: left;margin: 0.5px ;margin-right: 5px">:</div> 
									<div style="margin: 0;margin-right: 5px">
										{{ buyers.email }}
									</div>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col size="3" class="demandHeaders" style="float: left;min-width: 40%">Contact no</ion-col>
								<ion-col size="7" style="line-height: 1.5;min-width:60%">
									<div style="float: left;margin: 0.5px ;margin-right: 5px">:</div> 
									<div style="margin: 0;margin-right: 5px">
										{{ buyers.contact_number }}
									</div>
								</ion-col>
							</ion-row>
							
							<ion-row>
								<ion-col size="3" class="demandHeaders" style="float: left;min-width: 40%">Contact Person</ion-col>
								<ion-col size="7" style="line-height: 1.5;min-width:60%">
									<div style="float: left;margin: 0.5px ;margin-right: 5px">:</div> 
									<div style="margin: 0;margin-right: 5px">
										{{ buyers.contact_person }}
									</div>
								</ion-col>
							</ion-row>
							
	
						</div>
					</li>
				</ng-container>
				<ng-container *ngIf="selectedBuyerslength <= 0">
					<p style="padding: 0px 20px;text-align: center;font-weight: bold;font-size: 18px;">No List is available for this beg vendor</p>
				</ng-container>
			</ul>
		</div>
	</div>
	<app-menu></app-menu>
</ion-content>