<ion-header class="green">
	<ion-toolbar  mode="ios"  style="background: transparent; --background: transparent">
		<ion-buttons slot="start" class="back-button" (click)="close()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-buttons>
			<ion-title class="header-title porttitle">Freight</ion-title>
	</ion-toolbar>
	<!-- <ion-row >
		<ion-col style="padding: 0px;">
			<div class="imageprev" style="overflow: hidden;">
				<div *ngIf="selectedPortData[0] != undefined ">
					<img src="{{ imagePre }}/uploads/banner/{{ selectedPortData[0].banner }}" class="app-logo" />
				</div>
			</div>
		</ion-col>
	</ion-row> -->
</ion-header>

<ion-content class="lightgreen">
	<div>
		<ion-row style="padding-top: 14px;">
			<ion-col size="6" >
				<ion-item class="select" style="background: #fffbd6;--background: #fffbd6;border: 4px solid #92b243;border-radius: 9px;">
					<!-- <ion-label>Region</ion-label> -->
					<ion-select placeholder="Region" (ionChange)="changecountry($event)">
					  <ion-select-option *ngFor="let region of regions">{{ region }}</ion-select-option>
					</ion-select>
				  </ion-item>
			</ion-col>
			<ion-col size="6" >
				<ion-item class="select" style="background: #fffbd6;--background: #fffbd6;border: 4px solid #92b243;border-radius: 9px;">
					<!-- <ion-label>Country</ion-label> -->
					<ion-select placeholder="Country" (ionChange)="getPortList($event)">
						<ion-select-option *ngFor="let country of countries">{{ country }}</ion-select-option>
					</ion-select>
				  </ion-item>
			</ion-col>
		</ion-row>

		<ng-container >
			<ion-row class="ion-padding table-row padd-5 paddingBottom100">
				<ion-col class="price-table dashboard">
					
					<table class="table" >
						<thead>
							<tr>
								<th class=" type-columns black" style="font-weight: bold;width:40%;font-size: 14px;" >
									Port
								</th>
								<th class=" type-columns black" style="font-weight: bold;width:30%;font-size: 14px;">
									21MT
								</th>
								<th class=" type-columns black" style="font-weight: bold;width:30%;font-size: 14px;">
									25MT
								</th>
							</tr>
						</thead>

						<tbody class="user_price" >
							<tr *ngFor="let list of ports" class="green">
								<td class="sticky-col first-col left pl-10" >
									{{ list.port }}
								</td>
								<td class="type-columns" style="width:180px;border: none ;--border: none," >
									${{ list.freight_21MT }}
								</td>
								<td class="type-columns" style="width:180px;border: none ;--border: none," >
									${{ list.freight_25MT }}
								</td>
							</tr>
							<tr *ngIf="isNull == true" >
								<td colspan="2" style="text-align: center;">
									No port found
								</td>
							</tr>
						</tbody>
					</table>
				</ion-col>
			</ion-row>
		</ng-container>
	</div>
	<app-menu></app-menu>
</ion-content>