<ion-content>
  <div class="body">
    <div style="height: 100%;">
      <div style="height: 55%;padding-top: 20px;">
        <div>
          <img src="../../assets/welcome1icon.png" />
        </div>

        <div style="padding-left: 20px;">
          <div>
            <p style="font-family: 'Poppins-Bold';font-size: 22px;padding:0px;margin: 0px"><span
                style="font-family: 'Poppins-Regular';">At</span> SNTC</p>
            <p style="font-family: 'Poppins-Regular';font-size: 22px;padding:0px;margin: 0px">We Take Care Of All Your Rice Needs</p>
          </div>
          <div>
            <div style="margin-top: 20px;">
              <div class="roundNextButton">
                <ion-icon name="arrow-forward-outline"
                  style="height: 73px;font-size: 25px;color: #fff;    text-align: center;"></ion-icon>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div
        style="height: 45%; background-image: url('../../assets/welcome3image.png');background-repeat: no-repeat;background-size: cover;background-position: top;">

      </div>
    </div>
  </div>
</ion-content>