<ion-content class="register lightgreen">
	<ion-row>
		<ion-col class="h-230 green brlb-30">
      <p (click)="home()" style="float: left;color: white;margin-right: 20px;">
		<ion-icon name="chevron-back-outline"  style="font-size: 22px ;" class="lefticon"></ion-icon>
		</p>
			<img src="../../assets/sntc_nobackground.png" class="registerlogo" alt="" style="margin-top: 20">
		</ion-col>
	</ion-row>
	<!-- <ion-row>
		<ion-col class="h-300 green brlb-30">
			<ion-row class="formData">
				<ion-col class="form">
					<ion-col>
						<h3>
							Change Password
						</h3>
					</ion-col>
					<ion-item>
						<ion-label position="floating">New Password</ion-label>
						<ion-input type="password" name='password' [(ngModel)]="password" style=" color: 'red' " ></ion-input>
						<img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
					</ion-item>
					
					<ion-item>
						<ion-label position="floating" class="font-lightgreen">Confirm Password</ion-label>
						<ion-input type="password" name='confpassword' [(ngModel)]="confpassword"></ion-input>
						<img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
					</ion-item>

					<div class="center" style="margin-top: 20px;">
						<ion-button class="lightgreen" (click)="updatePassword()"> Change Password </ion-button>
					</div>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row> -->
	<ion-row>
		<ion-col>
			<h3>
				Edit Profile
			</h3>
		</ion-col>
	</ion-row>
	<ion-row class="userType">
		<ul style="justify-content: space-between;">
			<li (click)="changeState('Supplier')" [class.activeTab]="role == 'Supplier' ">
				Supplier 
			</li>
			
			<li (click)="changeState('Buyer')" [class.activeTab]="role == 'Buyer' ">
				Buyer
			</li> 
			
			<li (click)="changeState('Broker')" [class.activeTab]="role == 'Broker' ">
				Broker
			</li>

			<li (click)="changeState('Guest')" [class.activeTab]="role == 'Guest' ">
				Guest
			</li>	
		</ul>
	</ion-row>
	
	<ion-row class="formData">
		<ion-col class="form">
			<ion-item>
				<ion-label position="floating">Username</ion-label>
				<ion-input [(ngModel)]="username" name="username"></ion-input>
				<!-- <ion-icon name="person" slot="start"></ion-icon> -->
				<img src="../../assets/svg/person-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>
			
			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input [(ngModel)]="email" name="email"></ion-input>
				<img src="../../assets/svg/mail-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>
			
			<ion-item>
				<ion-label position="floating">Mobile no</ion-label>
				<ion-input [(ngModel)]="mobile" name="mobile"></ion-input>
				<img src="../../assets/svg/call-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>
			
			<ion-item>
				<ion-label position="floating">Company name</ion-label>
				<ion-input [(ngModel)]="companyname" name="companyname"></ion-input>
				<img src="../../assets/svg/business-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt="">
			</ion-item>
			
			<div class="center mt10">
				<ion-button class="green" (click)="updateUserDetails()"> Edit Profile </ion-button>
			</div>
		</ion-col>
	</ion-row>
	<ion-row class="center">
		
	</ion-row>
</ion-content>