<ion-content>
  <div class="container">
    <div class="header-container">
		<div class=""></div>
			<div class="header green">
				<!-- <ion-button (click)="showMenu()" style="background-color: transparent;box-shadow: none;">
					<ion-icon name="menu-outline" style="font-size: 30px;"></ion-icon>
				</ion-button> -->
					<ion-buttons slot="start">
					  <ion-menu-button>
						<ion-icon name="menu-outline" style="font-size: 30px;"></ion-icon>
						<!-- Menu -->
					  </ion-menu-button>
					</ion-buttons>

				<div style="margin-top: 0px;">
					<h1 class="main-heading font-30">{{ name | uppercase }}</h1>
					<span class="tag">{{ email }}</span>
					<p>Role: {{ userRole }}</p>
				</div>
				<div class="stats">
				</div>
			</div>
    	</div>
    
    	<!-- <div class="overlay-header"></div> -->
    
    	<div class="body">
			<!-- <div class="body-image userCaps" >
				{{ name[0] | uppercase }}
			</div> -->

			<div class="u-clearfix"></div>

			<div style="margin-top: 30px;">
				<div>
					<div style="width: 45%;float: left;">
						<ul>
							<li style="font-weight: bold;">Plan Name</li>
							<li>{{ planName }}</li>
						</ul>
					</div>
					<div style="width: 45%;float: left;">
						<ul>
							<li style="font-weight: bold;">Expired On</li>
							<li>{{ expired_on }}</li>
						</ul>
					</div>
					<!-- <span class="body-stats">
						<span style="font-size:13px;">Plan Month</span> <span>{{ planMonths }}</span>
					</span> -->
				</div>
			</div>

			<ion-row style="padding-top: 14px;clear: both;" *ngIf="apptype == 'USD'"> 
				<!-- <ion-col size="6" >
					<ion-item class="select" style="background: #fffbd6;--background: #fffbd6;border: 4px solid #92b243;border-radius: 9px;">
						<ion-select placeholder="Region" (ionChange)="changecountry($event)">
						  <ion-select-option *ngFor="let region of regions">{{ region }}</ion-select-option>
						</ion-select>
					  </ion-item>
				</ion-col> -->
				<div style="width: 100%;text-align: center">
					<span style="font-weight: bold;">Default Port:</span><span> {{ defaultPort }}</span>
				</div>
				<ion-col size="12" >
					<ion-item class="select" style="border: 4px solid #92b243;border-radius: 9px;">
						<ion-label>Select Region</ion-label>
						<ion-select placeholder="Region" (ionChange)="getPortList($event)">
							<ion-select-option *ngFor="let country of countries">{{ country }}</ion-select-option>
						</ion-select>
					  </ion-item>
				</ion-col>
				<ion-col size="12" >
					<ion-item class="select" style="border: 4px solid #92b243;border-radius: 9px;">
						<ion-label>Select Country</ion-label>
						<ion-select placeholder="Country" (ionChange)="getPortListFromState($event)">
							<ion-select-option *ngFor="let stat of state">{{ stat }}</ion-select-option>
						</ion-select>
					  </ion-item>
				</ion-col>
				<ion-col size="12" >
					<ion-item class="select" style="border: 4px solid #92b243;border-radius: 9px;">
						<ion-label>Select Import Port</ion-label>
						<ion-select placeholder="Port" (ionChange)="getPortListFromCity($event)">
							<ion-select-option *ngFor="let citie of city">{{ citie.port }}</ion-select-option>
						</ion-select>
					  </ion-item>
				</ion-col>
				<ion-col style="text-align: center;">
					<ion-label style="font-size: 18px;">{{ selectedCity }}</ion-label>
				</ion-col>
				<ion-col size="12" style="text-align: center;">
					<ion-button style="--background: #92b243" (click)="saveport()">Save</ion-button>
				</ion-col>	
			</ion-row>
    	</div>    
  </div>
</ion-content>
<ion-footer>
	<ion-button expand="block" class="footerbutton" (click)="gotohome()">Go to home</ion-button>
</ion-footer>