.tf-tree.example {
    text-align: center;
}

.back-button {
    margin-right: 10px;
    margin-left: 10px;
    color: #FFF;

    ion-icon {
        font-size: 23px;
    }
}

ion-toolbar {
    --background: #494f58;
    color: #FFF;
}

ion-item {
    border: 3px solid #92b243;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-native {
    background: transparent;
    background-color: transparent;
    --background: transparent;
    --background-color: transparent;
}

.packingSelect {
    .select-text {
        display: none;
    }
}
ion-radio::part(container) {
    width: 30px;
    height: 30px;

    border-radius: 8px;
    border: 2px solid #ddd;
}

ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
}

ion-radio.radio-checked::part(container) {
    background: #92b243;
    border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;

    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;

    transform: rotate(45deg);
}