<ion-header class="green">
	<ion-toolbar mode="ios" style="background: transparent; --background: transparent">
		<ion-buttons slot="start" class="back-button" (click)="back()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-buttons>
		<ion-title class="header-title porttitle">Buy Query</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content id="content" [scrollEvents]="true" class="lightgreen">
	<div style="padding: 10px 10px;margin-bottom: 100px;">
		<ion-item>
			<ion-label>Category*</ion-label>
			<!-- (ionChange)="changecountry($event)" -->
			<ion-select placeholder="Select" (ionChange)="changeQualityType($event)">
				<ion-select-option *ngFor="let qualityType of riceQualityType" style="text-transform: capitalize;">{{
					qualityType | uppercase }}</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-row style="margin-bottom: 10px;">
			<ion-col size="12"
				style="border: 3px solid #92b243;border-radius: 10px;margin-bottom: 10px;padding: 0;margin: 0;background: white;">
				<ion-item style="border: 0px;margin-bottom: 0;">
					<ion-label>Quality*</ion-label>
					<ion-select placeholder="Select" (ionChange)="changeQuality($event)">
						<ion-select-option *ngFor="let riceName of onlyRiceName | keyvalue" value={{riceName.value}}
							style="text-transform: capitalize;">{{ riceName.key }}</ion-select-option>
						<!-- <ion-select-option style="text-transform: capitalize;">Other</ion-select-option> -->
					</ion-select>
				</ion-item>
				<!-- <p style="padding: 0;margin: 0;margin-right: 15px;text-align: right;padding: 5px;">{{quality}}</p> -->
			</ion-col>

		</ion-row>

		<ion-row style="margin-bottom: 10px;">
			<ion-col size="12"
				style="border: 3px solid #92b243;border-radius: 10px;margin-bottom: 10px;padding: 0;margin: 0;background: white;">
				<ion-item style="border: 0px;margin-bottom: 0;">
					<ion-label>Form*</ion-label>
					<ion-select placeholder="Select" (ionChange)="changeQualityForm($event)">
						<ion-select-option *ngFor="let riceName of onlyRiceForms" value={{riceName.id}}
							style="text-transform: capitalize;">{{ riceName.name }}</ion-select-option>
						<!-- <ion-select-option style="text-transform: capitalize;">Other</ion-select-option> -->
					</ion-select>
				</ion-item>
				<!-- <p style="padding: 0;margin: 0;margin-right: 15px;text-align: right;padding: 5px;">{{qualityForm}}</p> -->
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<p style="padding: 0px;margin: 0px;text-align: right;">{{ selectedRiceFormAndName?.quality }}{{
					selectedRiceFormAndName?.quality_name }}</p>
			</ion-col>
		</ion-row>

		<ion-row style="margin-bottom: 10px;">
			<ion-col size="12"
				style="border: 3px solid #92b243;border-radius: 10px;margin-bottom: 10px;padding: 0;margin: 0;background: white;">
				<ion-item style="border: 0px;margin-bottom: 0;">
					<ion-label>Grade*</ion-label>
					<ion-select placeholder="Select" (ionChange)="changeGrade($event)">
						<ion-select-option *ngFor="let wand of riceWand" value={{wand.id}}
							style="text-transform: capitalize;">{{
							wand.get_wand_type[0].type }} {{ wand.value }}</ion-select-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>


		<!-- <ion-row>
			<ion-col>
				<div>
					<div *ngFor="let wand of riceWand" style="padding: 0px 0px;">
						<div (click)="selectedWand(wand)" style="display: inline-block;width: 100%;padding: 0px 10px;border-radius: 14px;" [ngStyle]="{'background': selectedGrade == wand.id ? '#92b243' : 'transparent' }">
							<div style="width: 80%;float: left;">
								<p style="margin: 10px 0px;">{{ wand.get_wand_type[0].type }}</p>
							</div>
							<div style="width: 20%;float: left;">
								<p style="margin: 10px 0px;">{{ wand.value }}</p>
							</div>
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row> -->

		<ion-row style="margin-bottom: 10px;">
			<ion-col size="12" style="border: 3px solid #92b243;border-radius: 10px;margin-bottom: 10px;padding: 0;margin: 0;background: white;">
				<ion-item class="packingSelect" style="border: 0px;margin-bottom: 0;">
					<ion-label>Packing*</ion-label>
					<ion-select placeholder="Select" (ionChange)="changeBuyerPackingType($event)">
						<ion-select-option value="miller"><p>Miller Packing</p></ion-select-option>
						<ion-select-option value="private"><p>Private Packing</p></ion-select-option>
					</ion-select>
				</ion-item>
				<p style="padding: 0;margin: 0;margin-left: 15px;text-align: left;padding: 5px;">{{selectedPackageName}}</p>
			</ion-col>
		</ion-row>
		<ion-row style="margin-bottom: 10px;" *ngIf="changedBuyerPackingType == 'private' ">
			<ion-col size="12"
				style="border: 3px solid #92b243;border-radius: 10px;margin-bottom: 10px;padding: 0;margin: 0;background: white;">
				<ion-item class="packingSelect" style="border: 0px;margin-bottom: 0;">
					<ion-label>Packing*</ion-label>
					<ion-select placeholder="Select" (ionChange)="changePacking($event)">
						<ion-select-option *ngFor="let package of buyerPackingList"
							value="{{ package.id+'_'+package.packing }}">
							<p>{{package.packing}} {{ package?.description }}</p>
						</ion-select-option>
					</ion-select>
				</ion-item>
				<p style="padding: 0;margin: 0;margin-left: 15px;text-align: left;padding: 5px;">{{selectedPackageName}}
				</p>
			</ion-col>
		</ion-row>

		<ion-item>
			<ion-label position="">Quantity (Qtls)*</ion-label>
			<ion-input type="tel" maxLength="5" [(ngModel)]="quantity" (ionChange)="textareaMaxLengthValidation()"
				style=" text-align: right;"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="">Additional Information*</ion-label>
			<ion-input [(ngModel)]="additionalinfo" style=" text-align: right;"></ion-input>
		</ion-item>


		<div *ngIf="isError" style="text-align: center;color: red;font-weight: 600">
			<span>{{ errorMessage }}</span>
		</div>
		<ion-button color="success" expand="full" shape="round" (click)="save()">Submit</ion-button>
	</div>
	<app-menu></app-menu>
</ion-content>