<!-- <ion-header>
  <ion-toolbar>
    <ion-title>contactmodal</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-lightgreen">
	<div class="logo">
		<img src="../../assets/icon_logo.png" class="app-logo"/>
	</div>
	<a href="javascript:void(0);" (click)="closeModal()" class="closeModal"> X </a>
	<div class="content">
		<p style="padding-bottom: 10px;">{{ roleTitle }}</p>
		<a href="tel:+919877092004" class="contactuser">Call now</a>
		<a href="mailto:rbajaj@sntcgroup.com" class="contactuser">Mail now</a>
	</div>
</ion-content>