app-imageprev{
    --background: transparent !important
}
ion-modal{
    background: transparent !important;
    --background: transparent !important;
    .modal-wrapper{
        background: transparent !important;
        --background: transparent !important;
    }
}
ion-content{
    background: transparent !important;
    --background: transparent !important;    
}
.sc-ion-modal-md-h{
    background: transparent !important;
    --background: transparent !important;    
}

.modal-wrapper{
    background: transparent !important;
    --background: transparent !important;    
}
ion-content{
    --background: transparent;
}
.crossModal{
    font-size: 30px;
    padding: 15px 20px;
    background: white;
    /* width: 83px; */
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: red;
}