app-imageprev{
    --background: transparent !important
}
ion-modal{
    background: transparent !important;
    --background: transparent !important;
    .modal-wrapper{
        background: transparent !important;
        --background: transparent !important;
    }
}
ion-content{
    background: transparent !important;
    --background: transparent !important;    
}
.sc-ion-modal-md-h{
    background: transparent !important;
    --background: transparent !important;    
}

.modal-wrapper{
    background: transparent !important;
    --background: transparent !important;    
}
ion-content{
    --background: transparent;
}
.crossModal{
    font-size: 17px;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: red;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    align-self: center;
    font-weight: bold;
    padding: 10px;
}