<ion-content class="register green">
	<ion-row>
		<ion-col class="h-160  brlb-30">
			<!-- <h3 class="userTitle">
					Register
				</h3> -->
			<img src="../../assets/sntc_nobackground.png" class="registerlogo" alt="">
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="12">
			<h3
				style="font-family: 'Poppins-Regular';font-weight: 500;color: #fff;font-size: 35px;margin: 0px;padding: 0px;">
				Register
			</h3>
		</ion-col>
		<ion-col size="12">
			<p
				style="font-family: 'Poppins-Regular';font-weight: 500;color: #fff;font-size: 16px;margin: 0px;padding: 0px;">
				Register Now To Create Your Account
			</p>
		</ion-col>
	</ion-row>

	<ion-row style="margin-bottom: 0px;">
		<ion-col *ngIf='(registerForm == "domestic")'>
			<ion-button class="activeFormType"  (click)="registerFormType('domestic')" style="color: white;font-size: 12px;">Domestic</ion-button>
			<!-- <p style="padding: 0;margin: 0;font-size: 14px;color: #fff;" >Prices in INR</p> -->
		</ion-col>
		<ion-col  *ngIf='(registerForm == "international")'>
			<ion-button class="activeFormType" (click)="registerFormType('international')" style="color: white;font-size: 12px;">International</ion-button>
			<!-- <p style="padding: 0;margin: 0;font-size: 14px;color: #fff;">Prices in USD</p> -->
		</ion-col>
	</ion-row>
	<!-- <ion-row style="margin-bottom: 10px;">
		<ion-col >
			<ion-button  [ngClass]='((registerForm == "domestic") ? "activeFormType" : "formType")' (click)="registerFormType('domestic')" style="color: white;font-size: 12px;">Domestic</ion-button>
			<p style="padding: 0;margin: 0;font-size: 14px;color: #fff;" >Prices in INR</p>
		</ion-col>
		<ion-col >
			<ion-button  [ngClass]='((registerForm == "international") ? "activeFormType" : "formType")' (click)="registerFormType('international')" style="color: white;font-size: 12px;">International</ion-button>
			<p style="padding: 0;margin: 0;font-size: 14px;color: #fff;">Prices in USD</p>
		</ion-col>
	</ion-row> -->

	<div>
		<div *ngIf="registerForm == 'domestic'">
			<p style="padding-top: 0; margin-top: 0; font-weight: bold;padding: 0px;margin: 0px;color: #fff;font-size: 14px;font-family: 'Poppins-Regular' ">Real Time Indian Rice Prices in INR & USD !</p>
		</div>
		<div *ngIf="registerForm == 'international'">
			<p style="padding-top: 0; margin-top: 0; font-weight: bold;padding: 0px;margin: 0px;color: #fff;font-size: 14px;font-family: 'Poppins-Regular' ">Real Time Indian Rice Prices in USD !</p>
		</div>
	</div>
	
	<!-- <ion-row>
		<ion-col *ngIf="registerForm == 'domestic' ">
			<p style="padding: 0;margin: 0;">Prices IN INR</p>
		</ion-col>
		<ion-col *ngIf="registerForm == 'international' ">
			<p style="padding: 0;margin: 0;">Prices IN USD</p>
		</ion-col>
	</ion-row> -->

	<ion-row class="userType">
		<ul>
			<ion-col *ngIf="registerForm == 'domestic' " >
				<li (click)="changeState('supplier')" class="userRole" [class.activeTab]="userState == 'supplier' ">
					Supplier 
				</li>
			</ion-col>
			
			<ion-col>
				<li (click)="changeState('buyer')" class="userRole" [class.activeTab]="userState == 'buyer' ">
					Buyer
				</li>
			</ion-col>

			<ion-col *ngIf="registerForm == 'domestic' " >
				<li (click)="changeState('broker')" class="userRole" [class.activeTab]="userState == 'broker' ">
					Broker
				</li>
			</ion-col>

			<ion-col>
				<li (click)="changeState('guest')" class="userRole" [class.activeTab]="userState == 'guest' ">
					{{ ( registerForm == 'domestic' ) ? 'Guest' : 'Other User'  }}
				</li>
			</ion-col>
		</ul>
	</ion-row>
	
	<ion-row class="formData">

		<ion-col class="form" *ngIf="registerForm == 'domestic' " >
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Username</ion-label> -->
				<ion-input placeholder="Username" [(ngModel)]="username" name="username"></ion-input>
				<!-- <ion-icon name="person" slot="start"></ion-icon> -->
				<!-- <img src="../../assets/svg/person-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Email</ion-label> -->
				<ion-input placeholder="Email" [(ngModel)]="email" name="email"></ion-input>
				<!-- <img src="../../assets/svg/mail-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Mobile no</ion-label> -->
				<ion-input placeholder="Mobile no" [(ngModel)]="mobile" name="mobile" type="number" ></ion-input>
				<!-- <img src="../../assets/svg/call-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Company name</ion-label> -->
				<ion-input placeholder="Company name" [(ngModel)]="companyname" name="companyname"></ion-input>
				<!-- <img src="../../assets/svg/business-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Password</ion-label> -->
				<ion-input placeholder="Password" [type]="password1Type" name='password' [(ngModel)]="password"></ion-input>
				<ion-icon slot="end" [name]="password1Icon" class="passwordIcon" (click)='hideShowPassword1()'></ion-icon>
				<!-- <img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Confirm Password</ion-label> -->
				<ion-input placeholder="Confirm Password" [type]="password2Type" name='confpassword' [(ngModel)]="confpassword"></ion-input>
				<ion-icon slot="end" [name]="password2Icon" class="passwordIcon" (click)='hideShowPassword2()'></ion-icon>
				<!-- <img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<div class="center mt10">
				<label for="" style="display: inline-flex;">
					<div>
						<label class="checkbox">
							<ion-checkbox (ionChange)="checkboxClick($event)" slot="end"></ion-checkbox>
						</label>
					</div>
					<div style="margin-left: 10px;color: #fff;">
						Agree with 
						<a class="nounderline" href="javascript:void(0)" (click)="termsandcondition()" style="color: #fff">Terms & Condition</a>	
					</div>
				</label>
			</div>
			
			<div class="center mt10">
				<!-- <ion-button class="green" (click)="registerUser()" expand="full"> Register </ion-button> -->
				<button (click)="registerUser()" size="large" expand="full"
					style="background: #fff !important;border-radius: 27px;padding: 18px;width: 100%;">
					<p style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: #677435;font-size: 16px;">Register</p>
				</button>
				<p style="font-family: 'Poppins-SemiBold';color: #fff;font-size: 16px;" (click)="signin()" >Already a Member? <span style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: 
rgba(248, 229, 57, 1);font-size: 16px;">Login now</span></p>
				<!-- <button (click)="signin()" size="large" expand="full"
					style="background: #fff !important;border-radius: 27px;padding: 18px;width: 100%;">
					<p style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: #677435;font-size: 16px;">Sign in</p>
				</button> -->
				<!-- <ion-button class="green" (click)="signin()" expand="full"> Sign In </ion-button> -->
			</div>
		</ion-col>

		<ion-col class="form" *ngIf="registerForm == 'international' ">

			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Username</ion-label> -->
				<ion-input placeholder="Username" [(ngModel)]="username" name="username"></ion-input>
				<!-- <img src="../../assets/svg/person-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>

			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Email</ion-label> -->
				<ion-input placeholder="Email" [(ngModel)]="email" name="email"></ion-input>
				<!-- <img src="../../assets/svg/mail-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>

			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Company name</ion-label> -->
				<ion-input placeholder="Company name" [(ngModel)]="companyname" name="companyname"></ion-input>
				<!-- <img src="../../assets/svg/business-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>

			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Address</ion-label> -->
				<ion-input placeholder="Address" [(ngModel)]="address" name="address"></ion-input>
				<!-- <ion-icon slot="start" name="map-outline" style="color: black; margin-top: 17px;"></ion-icon> -->
			</ion-item>
			
			<ion-item *ngIf="userState != 'guest' ">
				<!-- <ion-item style="width: 100%" class="ion-no-padding"> -->
					<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Country</ion-label> -->
					<ion-select placeholder="Country"  [(ngModel)]="country" name="country" (ionChange)="changeCountry($event)">
					  	<ion-select-option value="{{ country }}" *ngFor="let country of listCountries">{{country}}</ion-select-option>
					</ion-select>
				<!-- </ion-item> -->
				<!-- <ion-icon slot="start" name="earth-outline" style="color: black; margin-top: 17px;"></ion-icon> -->
			</ion-item>

			<ion-item *ngIf="userState == 'guest' ">
				<!-- <ion-item style="width: 100%" class="ion-no-padding"> -->
					<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Vendor Type</ion-label> -->
					<ion-select placeholder="Vendor Type"  [(ngModel)]="bagVendor" name="bagVendor" (ionChange)="changebagVendor($event)">
					  	<ion-select-option value="{{ vendors.id }}" *ngFor="let vendors of bagVendorCategory">{{ vendors.name }}</ion-select-option>
					</ion-select>
				  <!-- </ion-item> -->
				<!-- <ion-icon slot="start" name="people" style="color: black; margin-top: 17px;"></ion-icon> -->
			</ion-item>

			<ion-item *ngIf="userState != 'guest' ">
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Zip Code</ion-label> -->
				<ion-input placeholder="Zip Code" [(ngModel)]="zipcode" name="zipcode"></ion-input>
				<!-- <ion-icon slot="start" name="globe-outline" style="color: black; margin-top: 17px;"></ion-icon> -->
				<!-- <img slot="start" src="../../assets/menu/zipcode1.png" style="width: 7%;margin-top: 13px;"/> -->

			</ion-item>
				
			<ion-item  *ngIf="userState != 'guest' ">
				<!-- <ion-item style="width: 100%" class="ion-no-padding"> -->
					<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Import Port</ion-label> -->
					<ion-select placeholder="Import Port" [(ngModel)]="import" name="import" (ionChange)="changePort($event)">
						<ion-select-option value="{{ country.port }}" *ngFor="let country of selectedPort">{{country.port}}</ion-select-option>
					</ion-select>
				<!-- </ion-item> -->
					<!-- <img slot="start" src="../../assets/menu/images-removebg-preview.png" style="width: 8%;"/> -->
				<!-- <ion-icon slot="start" name="earth-outline" style="color: black; margin-top: 17px;"></ion-icon> -->
			</ion-item>

			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Contact Person</ion-label> -->
				<ion-input placeholder="Contact Person" [(ngModel)]="contactperson" name="contactperson"></ion-input>
				<!-- <ion-icon  slot="start" name="person-outline" style="color: black; margin-top: 17px;"></ion-icon> -->
			</ion-item>

			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Mobile no: {{ selectedCountryMobileCode }}</ion-label> -->
				<ion-input placeholder="Mobile no: {{ selectedCountryMobileCode }}" [(ngModel)]="mobile" name="mobile" type="number" ></ion-input>
				<!-- <img src="../../assets/svg/call-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Password</ion-label> -->
				<ion-input placeholder="Password" [type]="password1Type" name='password' [(ngModel)]="password"></ion-input>
				<ion-icon slot="end" [name]="password1Icon" class="passwordIcon" (click)='hideShowPassword1()'></ion-icon>
				<!-- <img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<ion-item>
				<!-- <ion-label position="floating" style="color: #fff; padding: 0;margin: 0;">Confirm Password</ion-label> -->
				<ion-input placeholder="Confirm Password" [type]="password2Type" name='confpassword' [(ngModel)]="confpassword"></ion-input>
				<ion-icon slot="end" [name]="password2Icon" class="passwordIcon" (click)='hideShowPassword2()'></ion-icon>
				<!-- <img src="../../assets/svg/key-outline.svg" style="width: 8%;margin-top: 18px;" slot="start" alt=""> -->
			</ion-item>
			
			<div class="mt10">
				<label for="" style="display: inline-flex;">
					<div>
						<label class="checkbox">
							<ion-checkbox (ionChange)="checkboxClick($event)" slot="end"></ion-checkbox>
						</label>
					</div>
					<div style="margin-left: 10px;">
						<a class="nounderline" href="javascript:void(0)" (click)="termsandcondition()" style="color: #fff;"> Agree with Terms & Condition</a>	
					</div>
				</label>
			</div>

			<div class="center mt10">
				<!-- <ion-button class="green" (click)="registerUser()" expand="full"> Register </ion-button> -->
				<!-- <button (click)="registerUser()" size="large" expand="full" style="background: #fff !important;border-radius: 27px;padding: 18px;width: 100%;">
					<p style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: #677435;font-size: 16px;">Register</p>
				</button> -->
				<button (click)="registerUser()" size="large" expand="full"
					style="background: #fff !important;border-radius: 27px;padding: 18px;width: 100%;">
					<p style="padding: 0px;margin:0px;font-family: 'Poppins-SemiBold';color: #677435;font-size: 16px;">Sign in</p>
				</button>
				<!-- <p>OR</p>
				<ion-button class="green" (click)="signin()" expand="full"> Sign in </ion-button> -->
				<div style="padding: 10px 0px">
					<a href="javascript:void(0)" class="nounderline" (click)="signin()" style="color: #fff">Already Member? <span style="color: #F8E539;font-weight: bold;">Login Now</span></a>
				</div>
			</div>
		</ion-col>
	</ion-row>
	
	<ion-row class="center"></ion-row>
</ion-content>