.register{
    text-align: center;
    h3{
        color:black;
        // text-align: right;
        // margin-right: 25px;
    }
    .registerlogo{
        width: 31%;
        margin-top: 12px;
    }
}

.formData{
    padding: 0px 20px;
}

ion-button{
    --box-shadow: none
}

.form{
    ion-item{
        background: transparent;
        --background: transparent;
        .item-native{
            background: transparent;
            --background: transparent;
        }
    }
    button{
        --background: #92B243  !important;
        background: #92B243 !important;
        background-color: #92B243 !important;
        --background-color: #92B243 !important;
    }
}
.userRole {
    // --background: #92B243  !important;
    // background: #92B243 !important;
    // color: white;
    border: 2px solid rgba(244, 244, 244, 0.5) !important;
    color: white !important;
    border-radius: 100px !important;
    overflow: hidden;
    background-color: rgba(1, 0, 0, 0.3);

    --background-color: rgba(1, 0, 0, 0.3);
    background: rgba(1, 0, 0, 0.3);
    --background: rgba(1, 0, 0, 0.3);
}
.activeTab{
    // --background: #92B243  !important;
    // background: #92B243 !important;
    // color: white;
    border: 2px solid#000 !important;
    color: white !important;
    border-radius: 100px !important;
    overflow: hidden;
    background-color: #000;
    --background-color: #000;
    background: #000;
    --background: #000;
}


.userType{
        
    ul{
        list-style: none;
        width: 100%;
        display: inline-flex;
        padding: 15px;
        margin: 0;
        padding: 0;

        li{
            padding: 10px 15px;
            border: 2px solid #92B243;
            border-radius: 7px;
            // margin-right: 10px;
        }
    }

}

.userTitle{
    text-align: left !important;
    padding-left: 20px !important;
}

.nounderline{
    text-decoration: none;
}

.formType{
    border: 4px solid#fff !important;
    color: white !important;
    border-radius: 10px;
    overflow: hidden;
    background-color: #92b243;
    --background-color: #92b243;
    background: #92b243;
    --background: #92b243;
}

.activeFormType {
    border: 4px solid#fff !important;
    color: #92b243 !important;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    --background-color: #fff;
    background: #fff;
    --background: #fff;
}
 
.checkbox-icon{
    margin-top: 3px;
}



ion-item{
    background: rgba(255,255,255, 0.3) !important;
    border-radius: 8px;
    margin-top: 20px;
    --border: 0px !important;
    --border-color: transparent;
}